	<form action="{:U('Ajax/ajax_send_talks')}" method="post"   name="form" id="form">
	<table width="100%" border="0" cellspacing="10" cellpadding="1" style=" margin-bottom:3px;">

      <tr>
        <td width="70" align="right">手机号:</td>
        <td>
          <input name="mobile" class="input_text_200" id="mobile" value="" maxlength="60" type="text">
          <span class="admin_note" style="color: rgb(153, 153, 153);">(备注:多个手机号用,号隔开)</span>
        </td>
    </tr>


	  <tr>
        <td width="60" align="right">发送内容:</td>
        <td width="530">
		  <textarea name="content" class="input_text_300" style="height:80px;"></textarea></td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td>
		<input name="check" type="submit" class="admin_submit" id="check"    value="立即发送" /></td>
      </tr>
    </table>
    </form>
