<div class="popup-msg-b fn-pt-20 fn-pb-10" style="width: 613px;height:438px;">
<img src="../public/images/pic10_03.jpg">
<article class="part-fieldset">
<aside>你的姓名：</aside>
<section class="part-fieldset-section">
<input name="user_name" value="{:C('visitor.realname')}" id="user_name_org" maxlength="10" class="t_input w260" type="text">
<span class="part-fieldset-msg-1"></span>
</section>
</article>
<article class="part-fieldset">
<aside>手机号码：</aside>
<input name="mobile" value="{:C('visitor.mobile')}" maxlength="11" class="t_input w260"  type="text" id="mobile">
<span class="part-fieldset-msg-2"></span>
</article>
<article class="part-fieldset">
<aside></aside>
<span class="part-fieldset-msg" id="J_org_msg"></span>
</article>
<article class="part-fieldset">
<aside></aside>
<section class="part-fieldset-section"><a href="###" id="btn_send_guest_org" class="ui-btn ui-btn-red w130">下一步</a></section>
</article>
</div>