.orange{ 
color: #FD7422;
text-decoration: none;
}
.logo {
padding: 35px 0px;
}

.logo img {
width: 100%;
}

.tel img {
width: 100%;
}

.tel {
padding: 40px 0px;
text-align: right;
}

.tel a {
font-size: 18px;
color: #fd7422;
text-decoration: none;
}

.banner {
background: url(../images/banner.jpg) bottom center no-repeat;
padding: 200px 0px;
}

.form h1 {
font-weight: bold;
font-size: 16px;
}

.form .row {
height: 45px;
margin-bottom: 20px;
line-height: 45px;
width: 100%;
border: 1px solid #999999;
border-radius: 5px;
}

.form input {
border: none;
height: 30px;
line-height: 30px;
outline: none;
margin-left: 15px;
font-size: 18px;
width: 80%;
font-family: "microsoft yahei";
}

.form #subbtn {
width: 100%;
background: #fd7422;
color: #fff;
font-size: 16px;
display: block;
width: 100%;
text-align: center;
text-decoration: none;
height: 45px;
line-height: 45px;
border-radius: 5px;
}

.form p {
margin-top: 30px;
font-size: 18px;
height: 25px;
line-height: 25px;
}

.form p img {
margin-right: 5px;
float: left;
}

.file {
width: 150px;
text-align: center;
position: relative;
display: inline-block;
border: none;
overflow: hidden;
color: #A9A9A9;
font-size: 14px;
margin:0 auto;
text-decoration: none;
text-indent: 0;
line-height: 39px;
height: 39px;
padding-top: 4px;

}

.file input {
position: absolute;
font-size: 100px;
right: 0;
top: 0;
opacity: 0;
}

.file:hover {
background: #none;
border-color: #none;
color: #A9A9A9;
text-decoration: none;
}

.phone {
padding-top: 140px;
}

.info {
padding-top: 100px;
}

.info h1 {
font-size: 60px;
color: #fd7422;
line-height: 70px;
}

.info h2 {
font-size: 36px;
color: #000;
line-height: 40px;
margin: 60px 0px;
}

.info p {
font-size: 18px;
line-height: 25px;
color: #222;
}

.footer {
padding: 20px 0px;
font-size: 16px;
}

.login-bg p {
padding-top: 50px;
font-size: 18px;
}

.login-bg form{
width: 350px;
border-radius: 5px;
border: 1px solid #999;
overflow: hidden;
margin: 0 auto;
}
.login-bg .row, .login-bg .verify-box {
height: 45px;
line-height: 45px;
border-bottom: 1px solid #999;
}

.login-bg .row input {
border: none;
outline: none;
height: 42px;
line-height: 42px;
padding:0px 8px;
font-size: 16px;
width: 100%;
}

.login-bg .verify-box {
border: none;
}

.login-bg .verify {
height: 45px;
width: 160px;
float: left;
}

.login-bg .codeBtn {
height: 35px;
line-height: 35px;
background:#FD7422;
color: #fff;
float: right;
display: block;
margin-top: 6px;
padding: 0px 10px;
border-radius: 5px;
text-decoration: none;
margin-right: 10px;
text-align: center;
}

.login-bg .verify input {
width: 150px;
padding: 0px 0px 0px 5px;
height: 42px;
line-height: 42px;
font-size: 16px;
border: none;
outline: none;
}

.login-bg .btn a {
width: 350px;
height: 38px;
line-height: 35px;
margin: 20px auto;
display: block;
text-align: center;
background: #fd7422;
color: #fff;
font-size: 16px;
text-decoration: none;
border-radius: 5px;
}

.login-bg .btn a:hover {
text-decoration: none;
}

.login-bg .disabled {
background: #646464;
border: #646464;
color: #fff;
}

.banner .uk-width-2-6 {
border-radius: 5px;
overflow: hidden;
height: 400px;
}

.disabled {
background: #646464;
border: #646464;
color: #fff;
}

.menu-box {
height: 60px;
font-size: 20px;
}

.menu-box .menu {
position: relative;
}

.menu-box .menu div {
font-size: 20px;
width: 50%;
float: left;
text-align: center;
position: absolute;
height: 50px;
line-height: 50px;
z-index: 1;
border-bottom: 1px solid #FD7422;
margin-top: 10px;
background: #fff;
}

.menu-box .menu .left {
left: 0px;
}

.menu-box .menu .right {
left: 50%;
}

.menu-box .menu .active {
height: 60px;
line-height: 60px;
background: #fd7422;
color: #fff;
margin-top: 0px;
}

.box {
padding: 0px;
background: #fff;
height: 500px;
margin: 0px;
padding: 35px 0px;
}

#upload-box {
background: #000;
opacity: 0.6;
}

.sign {
width: 500px;
}

.sign .row, .sign #subbtn {
width: 60%;
margin: 0 auto;
margin-bottom: 10px;
}

#modal {
background: #000;
width: 100%;
height: 100%;
opacity: 0.6;
position: fixed;
top: 0;
z-index: 99;
display: block;
}

.show {
position: fixed;
z-index: 999;
width: 100%;
display: block;
}

.show .dialog {
background: url(../images/login_bg.png) top center no-repeat;
height: 417px;
width: 532px;
margin: 0 auto;
}

.dialog p {
font-size: 16px;
font-weight: bold;
text-align: center;
margin-top: 30px;
}

.close {
background: url(../images/close.png) bottom right no-repeat;
display: block;
height: 40px;
width: 98%;
}

.login-top{height: 80px; line-height: 80px; margin: 0 auto 80px auto;}
.login-top img{width: 150px;}
.chat-box{background: #fff;font-size: 28px;box-shadow: 0px 3px 10px rgba(0,0,0,0.3);-webkit-box-shadow: 0px 3px 10px rgba(0,0,0,0.3);-moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.3); padding: 75px 0px; border-radius: 5px; width: 80%;  margin: 0 auto;}
.login-content .title{ margin: 0px auto 65px auto; font-size: 24px;}
.chat-box h4{color: #444; margin: 65px auto 0px auto;}
.chat-box p{ color: #999; margin: 15px auto;font-size: 14px; font-weight: normal;}

.login-box form{ border: 1px solid #ccc; border-radius: 5px;margin: 65px auto;width: 70%;}
.login-box form .row{ border-bottom: 1px solid #ccc; height: 64px; line-height: 64px;padding-left: 8px;}
.login-box form .row:last-child{ border: none;}
.login-box form .row input{ height: 62px; line-height: 62px; outline: none; border: none; background: none; width: 100%; font-size: 16px;}
.login-box .btn{width: 70%; margin: 0 auto; font-size: 16px; }
#login-btn{ height: 64px; line-height: 64px; color: #fff; background: #FD7422; text-align: center; text-decoration: none; display: block; width: 100%;border-radius: 5px; font-size: 18px;color: #fff;}
.font-22{font-size: 22px;}
.page-top{width: 100%; height: 80px; line-height: 80px; background: #fff; box-shadow: 0px 3px 5px rgba(0,0,0,0.2);position: absolute;}
.page-top img{width: 150px;}
.page-content{padding: 80px 35px 0px 35px; background: #fff; border-bottom: 3px solid #ADB0BE;}
.page-title{font-size: 20px; height: 80px; line-height: 80px; clear: both;}
.page-title span{ margin-right: 20px; float: left;}
.page-title .rate{float: left; margin-top: 29px;width: 182px; height: 22px;background:#dce1e2;border-radius: 50px; position: relative; overflow: hidden;}
.page-title .rate .done{ background: #a7aaab; width: 0; height: 22px;}
.page-title .rate i{ top: 0px; position: absolute; left: 0px; height: 22px; line-height: 22px; width: 100%; text-align: center; color: #fff; font-size: 14px; font-size: 12px; font-style: normal;}

.menu-list{width: 100%; padding: 30px 0px; margin: 0 auto;}
.menu-list li{ height: 38px; line-height: 38px;}
.menu-list .line{ border-bottom: 1px solid #ccc;}
.menu-list .font{ margin-top: -19px; text-align: center;}
.menu-list .font .title-bg{ height: 40px; width: 300px; margin:0 auto; background: #fefefe; }
.menu-list .font .title-bg span{ background: #eee; width: 150px; border-radius: 50px; display: block; margin: 0 auto;}

.part{clear: both;}
.part .part1,.part .part2,.part .part3{position: relative; }
.part .part3{padding-bottom: 50px;}
.part .uk-icon{color: #F37B1D; font-size: 14px; position: absolute; top: 0px; right: 0px; cursor: pointer;}
.name-card{margin-top: 15px;text-align: center; color: #999;}
.photo{ text-align: center;height: 150px; width: 150px; box-shadow: 0px 1px 3px rgba(0,0,0,0.75); border-radius: 50%; overflow: hidden; margin: 0 auto; background: #f0f5f2;}
.photo span{ height: 150px; line-height: 150px; font-size: 36px;}
.photo img{ height: 150px; width: 150px;border-radius: 50%;}
.real-name {font-size: 12px; color: #999999; }
.real-name span{font-size: 26px;font-weight: bold; color: #333b3d;}
.company{color: #666;}
.project-show h3,.project-supply-show h3{ background: url(../images/slo.jpg) left center no-repeat; padding-left: 10px; font-size: 14px; margin-bottom: 12px; color: #000;}
.project-show p,.project-supply-show p{color: #999; margin: 0px;}
.project-show{ margin-bottom: 55px;}
.project-show:last-of-type{margin: 0px;}
.project-supply-show{margin-bottom: 35px;}

.left-menu{position: fixed;top: 35%; bottom: 50%; margin-left: -300px;}
.left-menu li{margin-bottom: 20px; padding-left: 30px; background: url(../images/dot2.png) left center no-repeat;}
.left-menu li.active{background: url(../images/dot1.png) left center no-repeat; ;}
.left-menu li.active a{ background: #F37B1D; color: #fff;}
.left-menu li a{ font-size: 14px; color: #444; background: #d9d9d9; height: 40px; width: 150px; display: block; text-align: center; line-height: 40px; border-radius: 40px; text-decoration: none;}
.login-box .title{font-size: 28px; color: #181818;}
/*修改页面*/
.user-info{margin-bottom: 18px; color: #333b3d; font-size: 12px; line-height: 30px;}
.edit-part .border{ border: 1px solid #ccc; border-radius: 5px; overflow: hidden; position: relative;}
.edit-part .border input{ height: 48px; line-height: 48px; width: 100%;  color: #000;}
.edit-part .border select{border: none; width: 100%; height: 48px; line-height: 48px; margin: 0px; padding: 0px; outline: none;color: #000; font-size: 14px;}
.select-box{position: relative;}
.select-box ul{display:none;position: absolute; top: 60px; width: 100%; z-index: 1; margin: 0px; padding: 0px;  border: 1px solid #ccc;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; background: #fff; padding: 5px 0px;}
.select-box ul li{ width: 95%; height: 30px; line-height: 30px; margin: 0px; padding: 0px; background: #fff; text-align: center; margin: 0 auto; border-radius: 8px; overflow: hidden;}
.select-box ul li:hover{background: #F37B1D; color: #fff;}
.edit-part .border textarea{width: 95%; height: 180px; margin: 0px 15px; padding: 0px; border: none;outline: none; line-height: 30px;color: #000; font-size: 16px;}
.edit-part .border .icon-select{background: url(../images/icon-select.png) center center no-repeat; }
.edit-part .border .icon-choose{background: url(../images/icon-choose.png) center center no-repeat;}
.edit-part .border #wan,.edit-part .border .icon-select,.edit-part .border .icon-choose{position: absolute; right: 0px; top: 0px; display: block; height: 48px; width: 40px; line-height: 48px; text-align: center;}

#preview{width:100px;height:100px;overflow:hidden; border-radius: 50%;}
.files {
position: relative;
display: inline-block;
overflow: hidden;
text-decoration: none;
text-indent: 0;
border: none;
}
.files input {
position: absolute;
font-size: 100px;
right: 0;
top: 0;
opacity: 0;
height: 100px;
width: 100px;
outline: none;
}
.files:hover {
text-decoration: none;
}
.upload-logo{position: relative; height: 100px; width: 100px; overflow: hidden;}
.upload-logo .file{position: absolute; width: 100px; top:40%; left: 0px; background: rgba(0,0,0,0.6); color: #F37B1D; height: 22px; line-height: 22px;}
