body {
    background-color: #fafafa;;
}
a{
    color:#3a83e8;
}
.registerWrapper {
    width: 1180px;
    margin:20px auto;
    overflow: hidden;
}
.form {
    float: left;
    background-color: #fff;
    padding: 25px 40px 60px;
    width: 1022px;
    border:1px solid #f2f2f2;
    border-top: 4px solid #f60;
    margin: 70px auto 0
}
.form h2 {
    font-size: 18px;
    font-weight: normal;
    padding-bottom:25px;
    border-bottom:1px solid #ddd;
    margin-bottom:40px;
}
.createsuccess{
    text-align: center;
}
.form table {
    width: 100%;
}
.form table th, .form table td {
    padding:12px 5px;
}
.form table th {
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    width: 180px;
}
.form table th span {
    color: #c7181e;
    margin-right: 5px;
}
.form table .btns {
    width: 280px;
    height: 38px;
    line-height: 38px;
    color:#fff;
    font-size: 16px;
}
.form table .btns.btns_default, .form table .btns.btns_default:hover {
    color:#999;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    cursor: default;
}
.form .btns.btns_erCode {
    float: left;
    height: 34px;
    line-height: 34px;
    margin-left:10px;
    width: 143px;
    font-size: 12px;
    border-radius: 3px;
}
.form .yz_code {
    float:left;
    margin-left:10px;
    border:1px solid #ccc;
    width: 90px;
    height: 34px;
    cursor: pointer;
}
.form .btn_change {
    float: left;
    line-height: 36px;
    margin-left:10px;
    width: 43px;
}
.form .tips.error {
    color:#c7181e;
}
.form .tips i {
    margin-right:5px;
    vertical-align: sub;
}
.side {
    float: left;
    width: 300px;
    margin-left:40px;
    padding-top:20px;
}
.side .box {
    margin-bottom:15px;
    padding:10px 0;
}
.side .box .tit {
    font-size: 14px;
    font-weight: bold;
    color:#333;
}
.side .box .txt {
    padding:10px 0;
}
.side .box .txt .a {
    font-size: 16px;
    margin-right:10px;
}
.side .box .txt .b {
    font-size: 12px;
    color:#666;
    margin-left:10px;
}
.side .box .txt .b i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icon_qq.png) no-repeat;
    vertical-align: text-top;
    margin-right:3px;
}
.side .box .txt span {
    color:#ff961f;
    font-size: 16px;
    margin-right:20px;
}

.form_success {
    width: 1160px;
}
.status {
    width: 260px;
    padding:120px 0 120px 80px;
    margin: 0 auto;
    position: relative;
}
.status i {
    position: absolute;
    top:120px;
    left:0;
}
.status p {
    font-size: 24px;
    color:#333;
    margin-bottom:10px;
}
.status .go {
    margin-top:10px;
}
.status .go .btns {
    height: 34px;
    line-height: 34px;
    margin-right:15px;
    font-size: 14px;
    border-radius: 3px;
}
.createsuccess .verify_success {
    width: 1022px;
    background-color: #fff;
    border: 1px solid #dce0e0;
    border-top: 4px solid #3dca99;
    text-align: center;
    padding: 70px 0;
    margin: 70px auto 0
}
.createsuccess .icons_bar {
    margin: 33px auto 50px
}
.createsuccess .icons_bar .icons {
    padding: 19px;
    font-size: 20px;
    color: #fff;
    background-color: #f60;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}
.tsly{width: 460px;height: 300px;}

.form.form_selectAdmin {
    width: 1098px;
    min-height: 480px;
}
.adminBox {
    overflow: hidden;
}
.adminBox .company {
    float: left;
    width: 520px;
    margin-right:40px;
    border-right:1px solid #f2f2f2;
}
.adminBox .person {
    float: left;
    width: 520px;
}
.adminBox .tit {
    color:#333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:25px;
}
.adminBox .tit span {
    color:#c7181e;
    font-size: 12px;
    font-weight: normal;
    margin-left:20px;
}
.adminBox a {
    display: block;
    width: 256px;
    height: 56px;
    padding:0 30px 0 70px;
    margin-bottom:20px;
    font-size: 14px;
    line-height: 56px;
    position: relative;
    border-radius: 5px;
}
.adminBox a:hover {
    text-decoration: none;
}
.adminBox .company a {
    border:2px solid #e6e6e6;
    color:#333;
}
.adminBox .company a:hover {
    background-color: #E6292E;
    border: 2px solid #e6292f;
    color: #FFF;
}
.adminBox .person a {
    border:2px solid #e6e6e6;
    color:#333;
}
.adminBox .person a:hover {
    background-color: #E6292E;
    border: 2px solid #e6292f;
    color: #FFF;
}
.adminBox b {
    font-size: 20px;
    position: absolute;
    top:0px;
    right:20px;
    font-family: serif;
    color:#dbdbdb;
}
.adminBox i {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left:20px;
    top:10px;
}
.adminBox .company a i {
    background: url(../img/icon_selectAdmin_company.png) no-repeat;
}

.adminBox .company a:hover i {
    background: url(../img/icon_selectAdmin_company_hover.png) no-repeat;
}

.adminBox .company a i.root {
    background: url(../img/icon_selectAdmin_company_root.png) no-repeat;
}
.adminBox .company a:hover i.root {
    background: url(../img/icon_selectAdmin_company_root_hover.png) no-repeat;
}
.adminBox .person a i {
    background: url(../img/icon_selectAdmin_person.png) no-repeat;
}
.adminBox .person a:hover i {
    background: url(../img/icon_selectAdmin_person_hover.png) no-repeat;
}
.wx_qrcode .main {
    position: relative;
    width: 220px;
    font-size: 18px;
    color: #666;
    margin: 18px auto 10px
}
.wx_qrcode .main span {
    position: relative;
    z-index: 1;
    padding: 0 10px;
    background-color: #fff
}
.wx_qrcode .main .line {
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ebebeb
}
.wx_qrcode .tips {
    font-size: 14px;
    color: #858585;
    line-height: 18px;
    margin-top: 6px
}
