.clearfix {
    *zoom:1;
}
.clearfix:before,.clearfix:after {
    display:table;
    content:"";
    line-height:0;
}
.clearfix:after {
    clear:both;
}
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    *zoom: 1;
}
.fn-ow-clear {
    overflow:hidden;
    zoom:1;
}
.container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.container {
    *zoom: 1;
    width: 1000px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.ui-le-ht24 {
    line-height: 24px;
}
.ui-btn-red {
    background-color: #dd3650;
}
a.ui-btn-red:hover {
    background-color: #ff4663;
}
.ui-btn-big {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: 500;
}
.w20 {
    width: 20px !important;
}
.w30 {
    width: 30px !important;
}
.w35 {
    width: 35px !important;
}
.w40 {
    width: 40px !important;
}
.w50 {
    width: 50px !important;
}
.w60 {
    width: 60px !important;
}
.w70 {
    width: 70px !important;
}
.w80 {
    width: 80px !important;
}
.w90 {
    width: 90px !important;
}
.w100 {
    width: 100px !important;
}
.w102 {
    width: 102px !important;
}
.w110 {
    width: 110px !important;
}
.w120 {
    width: 120px !important;
}
.w125 {
    width: 125px !important;
}
.w130 {
    width: 130px !important;
}
.w140 {
    width: 140px !important;
}
.w150 {
    width: 150px !important;
}
.w155 {
    width: 155px !important;
}
.w160 {
    width: 160px !important;
}
.w166 {
    width: 166px !important;
}
.w170 {
    width: 170px !important;
}
.w180 {
    width: 180px !important;
}
.w190 {
    width: 190px !important;
}
.w200 {
    width: 200px !important;
}
.w220 {
    width: 220px !important;
}
.w260 {
    width: 260px !important;
}
.w270 {
    width: 270px !important;
}
.w280 {
    width: 280px !important;
}
.w290 {
    width: 290px !important;
}
.w300 {
    width: 300px !important;
}
.w330 {
    width: 330px !important;
}
.w304 {
    width: 304px !important;
}
.w350 {
    width: 350px !important;
}
.w370 {
    width: 370px !important;
}
.wb10 {
    width: 10%;
}
.wb20 {
    width: 20%;
}
.wb30 {
    width: 30%;
}
.wb40 {
    width: 40%;
}
.wb50 {
    width: 50%;
}
.wb60 {
    width: 60%;
}
.wb70 {
    width: 70%;
}
.wb80 {
    width: 80%;
}
.wb90 {
    width: 90%;
}
.wb98 {
    width: 98%;
}
.wb100 {
    width: 100%;
}
.fn-mr-10 {
    margin-right: 10px;
}
.fn-ml-20 {
    margin-left: 20px;
}
.fn-ml-10 {
    margin-left: 10px;
}
.fn-mr-15 {
    margin-right: 15px !important;
}
.fn-mt-15 {
    margin-top: 15px;
}
.pdt5 {
    padding-top: 5px;
}
.ui-le-ht24 {
    line-height: 24px;
}
.ui-btn-red {
    background-color: #dd3650;
}
.ui-btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
}

/*账户中心信息完善*/
.perfect-information {
    color: #666;
    padding: 5px 10px;
}
.perfect-information nav span {
    display: inline-block;
    text-align: right;
    width: 15px;
}
.perfect-information nav label {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    width: 60px;
}
.perfect-information nav input {
    margin-right: 3px;
    vertical-align: middle;
}
.fieldsetMod {
    border: 1px solid #dadde9;
    margin-top: 30px;
    padding: 1px;
    position: relative;
}
.fieldsetMod h2 {
    background-color: #fff;
    display: inline;
    font: bold 12px simsun;
    left: 10px;
    padding: 5px 10px;
    position: absolute;
    top: -13px;
}
.fieldsetMod h2 .icoDot {
    background: rgba(0, 0, 0, 0) url("http://www.trjcn.com/static/images/user/sprite.png") no-repeat scroll -260px -60px;
    display: inline-block;
    height: 5px;
    overflow: hidden;
    position: relative;
    right: -10px;
    vertical-align: middle;
    width: 5px;
}
.fieldsetMod .fieldsetBd {
    overflow: hidden;
    padding: 20px;
}
.part-fieldset {
    overflow: hidden;
}
.part-fieldset aside {
    color: #666666;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: right;
    width: 17%;
}
.part-fieldset aside i {
    background: #f1f1f1 none repeat scroll 0 0;
    color: #999999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}
.part-fieldset-min-textarea aside {
    height: 84px;
    line-height: 84px;
}
.part-fieldset-img aside {
    line-height: 80px;
}
.part-fieldset-img {
    margin-bottom: 14px;
}
.part-fieldset section {
    color: #999;
    display: inline-block;
    padding: 0;
    width: 82%;
}
.part-fieldset-wh-a .part-fieldset aside {
    width: 20%;
}
.part-fieldset-wh-a .part-fieldset section {
    width: 79%;
}
.part-fieldset-wh-b .part-fieldset aside {
    width: 21%;
}
.part-fieldset-wh-b .part-fieldset section {
    width: 78%;
}
.part-fieldset-all-c {
    border: 1px solid #ddd;
    padding: 20px;
}
.part-fieldset-all-c .part-fieldset aside {
    width: 21%;
}
.part-fieldset-all-c .part-fieldset section {
    width: 78%;
}
.part-fieldset .part-fieldset-section {
    min-height: 44px;
}
.part-fieldset .part-fieldset-section .uploadify {
    float: left;
    margin-right: 5px;
}
.part-fieldset .part-fieldset-section .uploadify-queue {
    margin-bottom: 0;
}
.part-fieldset .part-fieldset-section.select-height {
    margin-bottom: 14px;
    min-height: 0;
}
.part-fieldset .part-fieldset-label {
    margin-bottom: 13px;
    padding: 4px 0;
}
.part-fieldset .part-fieldset-text {
    height: 30px;
    line-height: 30px;
    margin-bottom: 13px;
}
.part-fieldset-min-textarea section {
    min-height: 98px;
}
.part-fieldset-time i {
    left: 8px;
    margin-top: 7px;
    position: absolute;
    z-index: 10;
}
.part-fieldset-time input {
    padding: 0 0 0 29px;
}
.part-fieldset .t_input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 10px;
    position: relative;
    vertical-align: middle;
    width: 248px;
}
.part-fieldset section label {
    color: #666;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
.part-fieldset section label input {
    margin-right: 3px;
    vertical-align: middle;
}
.part-fieldset .part-fieldset-msg {
    display: inline-block;
    padding: 2px 0;
    vertical-align: middle;
}
.part-fieldset .part-fieldset-msg em {
    display: block;
    margin: 0 0 0 20px;
    position: relative;
}
.part-fieldset .part-fieldset-msg i {
    left: -20px;
    position: absolute;
    top: 2px;
}
.part-fieldset textarea {
    border: 1px solid #ddd;
    display: inline-block;
    height: 72px;
    margin-right: 5px;
    padding: 5px;
    position: relative;
    vertical-align: middle;
    width: 360px;
}
body placeholder {
    white-space: nowrap;
}
.part-fieldset-code {
    border: 1px solid #ddd;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: -6px;
    text-align: center;
    vertical-align: middle;
    width: 147px;
}
.part-fieldset-code:hover {
    text-decoration: none;
}
.part-fieldset-code-cur, .part-fieldset-code-cur:hover {
    background: #ccc none repeat scroll 0 0;
    color: #999;
}
.part-fieldset-pic-itimg img {
    display: block;
    height: 80px;
    width: 80px;
}
.part-fieldset-pic-ittext {
    margin-left: 100px;
}
.part-fieldset-footer {
    margin: 40px 0;
    text-align: center;
}
.part-fieldset-all-a {
    border: 1px solid #ddd;
    padding: 20px;
}
.part-fieldset-all-aside80 aside {
    width: 80px;
}
.part-fieldset .t_input_disabled {
    background: #f0f0f0 none repeat scroll 0 0;
}
.part-footer-ml146 {
    margin-left: 146px;
}
.part-footer-ml96 {
    margin-left: 96px;
}
.part-footer-ml110 {
    margin-left: 110px;
}
.part-fieldset-multi-select {
    border: 1px solid #ddd;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0 20px 0 10px;
    position: relative;
    vertical-align: middle;
    width: 156px;
}
.part-fieldset-multi-select i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd transparent transparent;
    border-image: none;
    border-style: solid dashed dashed;
    border-width: 6px;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
}
.btn-more-case {
    border: 1px solid #cc3300;
    border-radius: 5px;
    color: #cc3300;
    display: inline-block;
    padding: 2px 5px;
}
.btn-more-case:hover {
    text-decoration: none;
}
.tex-disabled-prat {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #999;
    cursor: no-drop;
    display: inline-block;
    height: 72px;
    margin-right: 5px;
    overflow: auto;
    padding: 5px;
    vertical-align: middle;
    width: 360px;
}
.input-disabled-prat {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    cursor: no-drop;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 10px;
    position: relative;
    vertical-align: middle;
    width: 248px;
}
.part-fieldset-obj .uploadify {
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 5px;
    width: 80px;
}
.part-fieldset-obj .uploadify-button {
    background: rgba(0, 0, 0, 0) url("../public/images/btn-uploadify.png") no-repeat scroll 0 0;
    border: 0 none;
    color: #999;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
}
.part-fieldset-obj .uploadify-button:hover {
    background-position: 0 -31px;
}
.part-fieldset-obj object {
    height: 30px;
    width: 80px;
}
.part-fieldset-obj .ignore {
    width: 100%;
}
.part-fieldset-obj .uploadify-queue {
    display: inherit;
}
.part-fieldset-obj #J_upload_file_view {
    color: #666;
}
.part-fieldset-obj #J_upload_file_view a {
    color: #3b4a82;
}
.part-fieldset-obj #J_upload_file_view a:hover {
    color: #e93100;
}
.select_shelter select {
    border: 0 none;
    color: #999;
    padding: 2px;
}
.standard_select {
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
    padding: 2px;
    vertical-align: middle;
}
.select-style {
    border: 1px solid #ddd;
    color: #999;
    margin-right: 5px;
    outline: medium none;
    padding: 5px 0;
}
