.fn-pl-5 {
    padding-left: 5px !important;
}
.part-head-all-a nav li {
    float: left;
    margin: 5px 0 0 5px;
}
.part-head-all-a nav li a {
    background: #e9e9e9 none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    color: #666;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}
.part-head-all-a nav li a:hover {
    text-decoration: none;
}
.part-head-all-a nav .ui-tab-head-current a {
    background: #536290 none repeat scroll 0 0;
    color: #fff;
}
.vip-progress, .vip-progress-pillar {
    background-image: url("../public/../images/member/progress-bg.png");
    background-position: left -12px;
    display: block;
    height: 12px;
    overflow: hidden;
    width: 186px;
}
.username {
    border-bottom: 1px dashed #ddd;
    color: #666;
    height: 25px;
    padding-top: 8px;
}
.username-nick {
    color: #c82a00;
}
.username-nick i {
    margin: 0 3px;
}