body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: 400
}

li {
    list-style: none
}

caption,th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

q:before,q:after {
    content: ''
}

abbr,acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom;
    overflow: hidden
}
a{
    color: #fff;
    text-decoration: none;
    outline: 0
}
.btn:active {
    background: rgba(255,102,0,0.8)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.3)
}
.btn18 {
    font-size: 16px;
    padding: 0 15px;
    border-radius: 3px;
    height: 36px;
    line-height: 36px
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bbbbbb; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bbbbbb; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bbbbbb; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bbbbbb; }

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; }

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  background: #ffffff; }
/*
.rbtn {
    background: #f60;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    color: #fff;
}
.rbtn:hover {
    background: rgba(255,102,0,0.8);
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1);
    text-decoration: none;
}
*/

/*--按钮样式--*/
.btn-default-main {
    color: #fff;
    background: #f60;
    border: 1px solid #d46f16;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.btn-default-main:hover{
    color: #fff;
    background: rgba(255,102,0,0.8);
    border: 1px solid #d46f16;
    text-decoration: none;
}

input,textarea,select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    outline: 0
}
input[type=text]::-ms-clear {
    display: none
}

legend {
    color: #000
}

body {
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
    overflow-x: hidden
}

table {
    font-size: inherit
}

pre,code,kbd,samp,tt {
    font-family: monospace;
    line-height: 100%
}

em {
    font-style: italic
}

strong {
    font-weight: 700
}

h1 {
    margin: 32px 0 11px;
    padding: 0 0 12px;
    font-size: 28px;
    line-height: 1.1em;
    text-shadow: 0 1px rgba(255,255,255,.9)
}

h2 {
    padding: 0 0 8px;
    font-size: 21px
}

h1,h2 {
    letter-spacing: -.0125em;
    font-weight: 700
}

h3 {
    font-size: 1.5em;
    font-weight: 700
}

p {
    margin: 0 0 .8em;
    line-height: 1.35em
}

a {
    color: #222;
    text-decoration: none;
    outline: 0
}

a.text-meta .invisible {
    visibility: visible;
    font-size: 0;
    line-height: 0
}
a:hover {
    color: #222;
    text-decoration: none;
}
textarea {
    overflow: auto
}

textarea {
    display: inline-block;
    padding: 6px 10px;
    color: #221919;
    background: #fff;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8);
    width: 250px
}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr
}

.ir br {
    display: none
}

.clear-input {
    display: inline-block;
    padding: 0 10px;
    height: 36px;
    font-size: 16px;
    line-height: 1;
    color: #666;
    background: #f4f4f4;
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 250px;
}

.clear-input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    background: #FFF;
    color: #444
}

textarea.clear-input {
    height: auto;
    min-height: 78px;
    line-height: 1.5;
    padding: 5px 10px
}
#login_frame {
    width: 520px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -155px 0 0 -260px;
    text-align: center;
    padding: 30px 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border-radius: 4px;
    z-index: 1012;
}

#login_frame.switching {
    -webkit-transform: perspective(2000px) rotateY(-90deg);
    -webkit-animation: flip .4s linear,flip_out .4s .41s linear;
    transform: perspective(2000px) rotateY(-90deg);
    animation: flip .4s linear,flip_out .4s .41s linear
}

#login_frame a {
    cursor: pointer
}

#login_frame .logo {
    display: block;
    margin: 0 auto
}

#login_frame .switch-email-signup {
    font-size: 16px;
    margin-bottom: 50px;
    display: block
}

#login_frame .clear-input {
    box-sizing: border-box;
    width: 100%
}

#login_frame .holder {
    width: 286px;
    margin: 0 auto;
    position: relative
}

#login_frame .with-line {
    font-size: 18px;
    color: #1d1d1d;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#login_frame .with-line:before {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    width: 50px;
    top: 8px;
    left: 0
}

#login_frame .with-line:after {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    width: 50px;
    top: 8px;
    right: 0
}

#login_frame .menu_close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}

#login_frame .menu_close i {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    background: url(../images/msg_close.png) 0 0 no-repeat
}

#login_frame .buttons a {
    display: inline-block;
    margin-right: 10px;
    width: 64px;
    height: 64px;
    background: url(/img/login_icons_small.svg) 0 0 no-repeat
}

#login_frame .buttons a:last-child {
    margin-right: 0
}

#login_frame .buttons a.weibo:hover {
    background-position: 0 -80px
}

#login_frame .buttons a.weibo:active {
    background-position: 0 -160px
}

#login_frame .buttons a.qzone {
    background-position: -80px 0
}

#login_frame .buttons a.qzone:hover {
    background-position: -80px -80px
}

#login_frame .buttons a.qzone:active {
    background-position: -80px -160px
}

#login_frame .buttons a.wechat {
    background-position: -320px 0
}

#login_frame .buttons a.wechat:hover {
    background-position: -320px -80px
}

#login_frame .buttons a.wechat:active {
    background-position: -320px -160px
}

#login_frame .buttons a.douban {
    background-position: -160px 0
}

#login_frame .buttons a.douban:hover {
    background-position: -160px -80px
}

#login_frame .buttons a.douban:active {
    background-position: -160px -160px
}

#login_frame .buttons a.renren {
    background-position: -240px 0
}

#login_frame .buttons a.renren:hover {
    background-position: -240px -80px
}

#login_frame .buttons a.renren:active {
    background-position: -240px -160px
}

#login_frame .buttons.small a {
    background-image: url(/img/login_icons_tiny.svg);
    width: 48px;
    height: 48px
}

#login_frame .buttons.small a.wechat {
    background-position: -160px 0
}

#login_frame .buttons.small a.wechat:hover {
    background-position: -160px -80px
}

#login_frame .buttons.small a.wechat:active {
    background-position: -160px -160px
}

#login_frame .buttons.small a.douban {
    background-position: -240px 0
}

#login_frame .buttons.small a.douban:hover {
    background-position: -240px -80px
}

#login_frame .buttons.small a.douban:active {
    background-position: -240px -160px
}

#login_frame .buttons.small a.renren {
    background-position: -320px 0
}

#login_frame .buttons.small a.renren:hover {
    background-position: -320px -80px
}

#login_frame .buttons.small a.renren:active {
    background-position: -320px -160px
}

#login_frame .sign-up {
    margin-top: 30px
}

#login_frame .sign-up .buttons {
    margin: 20px 0 20px -15px;
    width: 336px;
    text-align: center
}

#login_frame .sign-up .buttons a {
    margin-right: 20px
}

#login_frame .sign-up .switch {
    position: absolute;
    right: 20px;
    bottom: 20px
}

#login_frame .login .holder {
    margin-top: 20px
}

#login_frame .login .buttons {
    margin: 15px 0 20px
}

#login_frame .login .mail-login {
    margin-top: 15px
}

#login_frame .login .mail-login .clear-input {
    margin-bottom: 20px
}

#login_frame .login .mail-login .btn {
    display: block
}
#login_frame .login .switch-back {
    text-align: center;
    margin: 10px 0
}
#login_frame .login .reset-password {
    position: absolute;
    left: 0;
    bottom: 0
}

#login_frame .reset .holder {
    margin-top: 30px
}

#login_frame .reset .reset-form {
    margin: 10px 0
}

#login_frame .reset .reset-form .btn {
    display: block
}

#login_frame .reset .clear-input {
    margin-bottom: 10px
}

#login_frame .reset .back {
    text-align: left;
    display: block
}

#login_frame .email-signup .holder {
    margin-top: 20px
}

#login_frame .email-signup .signup-form form {
    margin-top: 15px
}

#login_frame .email-signup .signup-form form .clear-input {
    margin-bottom: 10px
}

#login_frame .email-signup .signup-form form .captcha,#login_frame .reset-form .captcha {
    margin-bottom: 10px
}

#login_frame .email-signup .signup-form form .btn {
    display: block
}

#login_frame .email-signup .signup-form .email-signup-back {
    display: block;
    text-align: left;
    margin: 15px 0 10px
}

#login_frame .email-signup .signup-success {
    margin-top: 30px;
    width: 450px;
    margin: 30px auto 0
}

#login_frame .email-signup .signup-success .with-line {
    font-size: 18px;
    color: #444
}

#login_frame .email-signup .signup-success .with-line:before,#login_frame .email-signup .signup-success .with-line:after {
    width: 160px
}

#login_frame .email-signup .signup-success .text {
    margin: 20px -30px 0;
    line-height: 20px
}

#login_frame .email-signup .signup-success .text .email {
    color: #2FC2EF;
    padding: 0 3px
}

#login_frame .email-signup .signup-success .text a {
    padding: 0 3px
}

#login_frame .email-signup .signup-success .resend.disabled {
    color: #999
}

#login_frame .email-signup .signup-success .resend span {
    padding: 0 3px
}

#login_frame .email-signup .signup-success .login-link {
    display: block;
    margin-top: 30px
}
#particles {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%
}
#particles canvas {
    display: block
}
#shade_cover {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 133%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.50;
    filter: alpha(opacity=80);
}


/*注册*/
#verify {
    width: 100px;
    height: 36px;
    font-size: 14px;
    float: right;
}
.btn-disabled {
    color: #bbbbbb;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    cursor: default;
}
#user_register_btn,#user_login_btn{
    color:#d36f16;
}
.btn-disabled:hover{
    color:#bbbbbb;
}