
i.icoErr32, i.icoWar32, i.icoDou32, i.icoPro32, i.icoBul32, i.icoCor32, i.icoCor32gray, i.icoPro32yellow {
    background: rgba(0, 0, 0, 0) url("../../images/icon-tips.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    margin-right: 3px;
    vertical-align: middle;
    width: 32px;
}
i.icoErr32 {
    background-position: right top;
}
i.icoWar32 {
    background-position: right -40px;
}
i.icoDou32 {
    background-position: right -79px;
}
i.icoPro32 {
    background-position: right -120px;
}
i.icoBul32 {
    background-position: right -159px;
}
i.icoBul16 {
    background-position: left -159px;
}
i.icoErr32, i.icoWar32, i.icoDou32, i.icoPro32, i.icoBul32, i.icoCor32, i.icoCor32gray, i.icoPro32yellow {
    background: rgba(0, 0, 0, 0) url("../public/../images/icon-tips.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    margin-right: 3px;
    vertical-align: middle;
    width: 32px;
}
i.icoErr32 {
    background-position: right top;
}
i.icoCor32 {
    background-position: right -200px;
}
.ui-btn {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}
.ui-btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
}
.fn-mr-10 {
    margin-right: 10px !important;
}
.part-head-all-a nav li {
    float: left;
    margin: 5px 0 0 5px;
}
.part-certification-hd {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 10px 15px;
}
.stars-part-all span {
    background: rgba(0, 0, 0, 0) url("../public/../images/stars-bg.png") no-repeat scroll -17px 0;
    display: inline-block;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
}
.stars-part-all span.stars-cur {
    background-position: 0 0;
}
.part-br-ddd {
    border: 1px solid #ddd;
    overflow: hidden;
}
.part-certification-main article {
    border-top: 1px dashed #a5a5a5;
    margin-top: -1px;
    overflow: hidden;
    padding: 18px;
}
.part-certification-main section {
    line-height: 24px;
    margin: 0 200px 0 40px;
}
.part-certification-wb500 {
    margin: 50px auto;
    width: 500px;
}
.happy_yes {
    background: rgba(0, 0, 0, 0) url("../public/../images/yes.png") no-repeat scroll left center;
    color: #71b83d;
    display: inline-block;
    padding-left: 20px;
}
.happy_no {
    background: rgba(0, 0, 0, 0) url("../../images/no.png") no-repeat scroll left center;
    color: gray;
    display: inline-block;
    padding-left: 20px;
    white-space: nowrap;
}
input.happy_err {
    background-color: #ffe7e7;
    outline-style: none;
}
.happy_err {
    background-color: #ffe7e7;
    outline-style: none;
}
.required {
    color: #b20202;
    width: 10px;
}