<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<title>金融网</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<meta name="keywords" content="商业票据,银行票据,金融网"/>
<meta name="description" content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
<script src="../public/luodiye/js/lib/rem.js"></script>
<link rel="stylesheet" href="../public/luodiye/wap/font/iconfont.css">
<!--<link rel="stylesheet/less" href="../public/css/v2/less/combination/draft3_mobile.less">-->
<!--<link rel="stylesheet" href="../public/css/v2/less/combination/draft3_mobile.css">-->
<link rel="stylesheet" href="../public/luodiye/css/draft3_mobile.css">
<link rel="stylesheet" href="../public/luodiye/css/tip.css">
<!--<script src="../public/css/v2/less/less_all.js"></script>-->
</head>
<body>
<div class="header">
    <div class="login">
        <h2>免费注册</h2>
        <form id="register-form">
            <input type="text" placeholder="请输入手机号码" id="mobile" name="mobile">
            <p class="clearfix">
                <input type="text" placeholder="请输入图形验证码" id="img_yzm" name="img_yzm">
                <img id="yzimg" src="/Home/index/verify" onclick="this.src='/Home/index/verify?'+Math.random()" alt="计算结果" style="margin-left:20px;width:85px;height:40px;cursor:pointer" />
            </p>
            <p class="clearfix">
                <input type="text" placeholder="请输入验证码" id="yzm" name="yzm">
                <input type="button" id="verify" value="获取验证码">
            </p>
            <a id="register" href="javascript:void(0);">立即获取对接</a>
            <!--<a class="login_button" href="{:U('Members/login')}">已有账号，立即登录</a>-->
            <input type="hidden" name="following" value="{$utm_source}">
        </form>
    </div>
</div>

<div class="trading">
    <ul class="introduce">
        <li>
            <i class="iconfont icon-anquan"></i>
            <p>最安全</p>
            <span></span>
            <p>银行监管账户对接交易判定通过央行系统验证</p>
        </li>
        <li>
            <i class="iconfont icon-xiaolv"></i>
            <p>最高效</p>
            <span></span>
            <p>30分钟内完成交易资金T+0+实时到账</p>
        </li>
        <li>
            <i class="iconfont icon-gaoxiaocuohe"></i>
            <p>最便捷</p>
            <span></span>
            <p>省去人力、时间、差旅成本足不出户即可完成交易</p>
        </li>
    </ul>
</div>

<div class="draft2-bar2"></div>

<div class="queryPrice">
    <img src="../public/luodiye/wap/img/picture/draft3_item1.png" alt="">
    <a href="http://p.qiao.baidu.com/cps/chat?siteId=10680319&userId=18687701">我有票据，马上询价</a>
    <img src="../public/luodiye/wap/img/picture/draft3_item2.png" alt="">
</div>

<div class="draft2-bar3"></div>

<div class="steps">
    <h2>仅需 <span>3</span> 步轻松成交</h2>
    <div>
        <h3>创建账户</h3>
        <p>在线创建账户获得成交权限</p>
    </div>
    <span></span>
    <div>
        <h3>发布订单</h3>
        <p>发布票面信息，询价并达成流转</p>
    </div>
    <span></span>
    <div>
        <h3>在线流转</h3>
        <p>先打款后背书，资金实时到账</p>
    </div>
    <a href="javascript:;" class="goto_top">立即创建账户</a>
</div>
<div class="foot">
    <p>联系地址：</p>
    <p>联系电话：</p>
    <p></p>
</div>
<script src="../public/js/v2/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../public/js/jquery.disappear.tooltip.js"></script>
<script type="text/javascript" src="../public/js/jquery.tooltip.js"></script>
<script>
var qrh = {
        domain : "http://www.7ronghui.com",
        root : "http://www.7ronghui.com/index.php",
    };
    qrh.Util = {
        isMobile: function(a) {
            return /^1(3[0-9]|4[0-9]|5[0-9]|7[0|1|3|5|6|7|8]|8[0-9])\d{8}$/.test(a)
        },
        isChinese: function(a) {
            return /^[\u4E00-\u9FA5\uF900-\uFA2D]+$/.test(a)
        },
        isEmail: function(a) {
            return /^\w+((-\w+)|(\.\w+))*\@\w+((\.|-)\w+)*\.\w+$/.test(a)
        },
        isEmpty: function(a) {
            switch (typeof a) {
                case "string":
                    return 0 == $.trim(a).length ? !0 : !1;
                case "number":
                    return 0 == a;
                case "object":
                    return null == a;
                case "array":
                    return 0 == a.length;
                default:
                    return ! 0
            }
        }
    },
$(".goto_top").click(function(){
    $('body,html').animate({scrollTop:0},500);
    return false;
});
$('#register').click(function(){
        var mobile = $.trim($('input[name=mobile]').val());
        var yzm = $.trim($('input[name=yzm]').val());
        if (mobile == '') {
            setTimeout(function() { 
                    disapperTooltip("remind",'请输入您的手机号码');
                },300);
            $('#mobile').focus();
            return false;
        }
        if (!qrh.Util.isMobile(mobile)) {
            setTimeout(function() { 
                    disapperTooltip("remind",'请输入正确的手机号码');
                },300);
            $('#mobile').focus();
            return false;
        }
        if (yzm == '') {
            disapperTooltip("remind",'请输入验证码');
            $('#yzm').focus();
            return false;
        }
         doRegister();
});
    //发送手机验证码
    function toSetSms(){
        var img_yzm = $.trim($('input[name=img_yzm]').val());
        if (img_yzm == '') {
            setTimeout(function() { 
                    disapperTooltip("remind",'请输入图形验证码');
                },300);
            $('#img_yzm').focus();
            return false;
        }

        $.ajax({
            url: qrh.root+'?m=Home&c=Members&a=reg_send_sms',
            type: 'POST',
            dataType: 'json',
            data: {mobile: $.trim($('#mobile').val()),img_yzm:img_yzm}
        })
        .done(function(data) {
            if (parseInt(data.status)) {
                setTimeout(function() { 
                    disapperTooltip("success", "验证码已发送，请注意查收");
                },300);
                // 开始倒计时
                var countdown = 180;
                function settime() {
                    if (countdown == 0) {
                        $('#verify').prop("disabled", 0);
                        $('#verify').removeClass('btn_disabled');
                        $('#verify').val('获取验证码');
                        countdown = 180;
                        return;
                    } else {
                        $('#verify').prop("disabled", !0);
                        $('#verify').addClass('btn_disabled');
                        $('#verify').val('重新发送' + countdown + '秒');
                        countdown--;
                    }
                    setTimeout(function() { 
                        settime()
                    },1000)
                }
                settime();
            } else {
                setTimeout(function() { 
                    disapperTooltip("remind", data.msg);
                },1500)
            }
        });
    }
    // 点击获取验证码先判断是否输入了手机号
    var regularMobile = /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$/;
    $('#verify').click(function() {
        //alert('正在调试中');
        //return false;
        var mobileValue = $.trim($('#mobile').val());
        if (mobileValue == '') {
            setTimeout(function() { 
                disapperTooltip("remind", "请输入手机号码");
            },800)
            $('#mobile').focus();
            return false;
        };
        if (mobileValue != "" && !regularMobile.test(mobileValue)) {
            setTimeout(function() { 
                disapperTooltip("remind", "手机号码格式不正确");
            },500)
            $('#mobile').focus();
            return false;
        }
        $.ajax({
            url: qrh.root + '?m=Home&c=Members&a=draft_ajax_check',
            cache: false,
            async: false,
            type: 'post',
            dataType: 'json',
            data: { type: 'mobile', param: mobileValue},
            success: function(json) {
                if (json && json.status) {
                    toSetSms();
                } else {
                    setTimeout(function() { 
                    disapperTooltip("remind", "该手机号已被注册，请尝试登录");
                     },1500)
                    $('#mobile').focus();
                    return false;
                }
            }
        });
    });
    //注册处理程序
    function doRegister() {
        $('#register').val('注册中...').addClass('btn_disabled').prop('disabled', !0);
        $.ajax({
            url: qrh.root+'?m=Home&c=Members&a=draft_register',
            type: 'POST',
            dataType: 'json',
            data: $('#register-form').serialize(),
            success: function (data) {
                if(data.status == 1){
                    disapperTooltip("success", data.msg);
                    /*
                    setTimeout(function () {
                        window.location = "/Personal/index";
                    }, 2000);
                    */
                }
            }
        });
    }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4e32ad7398f2fdf11d8ec2c35c9c9118";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>