<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>金融网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网"/>
<meta name="description" content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
<link rel='icon' href='../public/images/icon/logo.ico' type='image/x-ico'/>
<link rel="stylesheet" href="../public/css/v2/base.css">
<link rel="stylesheet" href="../public/css/v2/component.css">
<link rel="stylesheet" href="../public/css/v2/module.css">
<link rel="stylesheet" href="../public/css/v2/all.css">
</head>
<body>
<div class="registered-success">
<div class="registered-success-header">
<div class="registered-success-header-main">
<a href="__ROOT__/">
<img src="../public/images/v2/picture/logo-3.png" alt="">
</a>
<a href="__ROOT__/">返回首页</a>
</div>
</div>
    <div class="registered-success-main">
        <h2>恭喜、您已成为金融网会员！</h2>
        <p>
            您的初始密码为：{$yzm}（验证码）
            <a class="get-password" href="#">设置密码</a>
        </p>
        <div class="registered-success-main-line"></div>
        <ul>
            <li class="registered-success-main-select switch" switch="1">我要找资金</li>
            <li class="switch" switch="2">我要找项目</li>
        </ul>
        <div class="registered-success-main-line-list div1 effect" effect="1">
            <h3>找项目、从这开始</h3>
            <p>
                <span>免费注册</span>
                <span>发布项目</span>
                <span>寻找资金</span>
                <span>约谈资金方</span>
                <span>达成融资</span>
            </p>
            <a class="get-immediately-join" get-immediately-join="1" href="#">立即加入</a>
            <h4 class="position-rel">
                <span class="line-left position-abs"></span>
                会员服务
                <span class="line-right position-abs"></span>
            </h4>
            <ul>
                <li class="li1">
                    <h3>发布项目信息</h3>
                    <p>免费发布项目信息，多维度展示项目，尽显项目优势，让资金方更快更方便地找到你。</p>
                </li>
                <li class="li2">
                    <h3>检索资金信息</h3>
                    <p>50余万资金方，持有资金超过6万亿，精准挖掘资金，给你的项目提供更多融资机会。</p>
                </li>
                <li class="li3">
                    <h3>寻找人脉资源</h3>
                    <p>超过300多万名实名用户，海量人脉资源，共享第一手投融信息，轻松洞悉商机。</p>
                </li>
                <li class="li4">
                    <h3>我要咨询</h3>
                    <p>想要咨询投融资相关的问题，在这里向客服人员了解吧。</p>
                </li>
                <li class="li5">
                    <h3>获取专业帮助</h3>
                    <p>专业人员协助你编写商业计划书、市场调研分析等必要文档，给你的项目提供专业的融资服务。</p>
                </li>
                <li class="li6">
                    <h3>了解更多服务</h3>
                    <p>针对不同用户需求，提供项目投递、重点项目推荐、委托刷新、创刻秀等更多投融服务。</p>
                </li>
            </ul>
        </div>
        <div class="registered-success-main-line-list div2 effect display-no" effect="2">
            <h3>找资金、从这开始</h3>
            <p>
                <span>免费注册</span>
                <span>发布资金</span>
                <span>寻找项目</span>
                <span>约谈项目方</span>
                <span>达成融资</span>
            </p>
            <a class="get-immediately-join" get-immediately-join="2" href="#">立即加入</a>
            <h4 class="position-rel">
                <span class="line-left position-abs"></span>
                会员服务
                <span class="line-right position-abs"></span>
            </h4>
            <ul>
                <li class="li1">
                    <h3>发布资金信息</h3>
                    <p>免费发布资金信息，让项目方更快更方便地找到你。</p>
                </li>
                <li class="li2">
                    <h3>检索资金信息</h3>
                    <p>50余万资金方，持有资金超过6万亿，精准挖掘资金，给你的项目提供更多融资机会。</p>
                </li>
                <li class="li3">
                    <h3>寻找人脉资源</h3>
                    <p>超过300多万名实名用户，海量人脉资源，共享第一手投融信息，轻松洞悉商机。</p>
                </li>
                <li class="li4">
                    <h3>资金方认证</h3>
                    <p>抢先认证快人一步！120万家项目优先洽谈！更可尊享免费路演，精准推荐，充分曝光三大服务。</p>
                </li>
                <li class="li5">
                    <h3>战略合作</h3>
                    <p>全球最大的融资服务平台GOLD CONNECT集团中国独家战略合作伙伴。</p>
                </li>
                <li class="li6">
                    <h3>我要咨询</h3>
                    <p>想要咨询投融资相关的问题，在这里向客服人员了解吧。</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="registered-success-footer">
        <p class="p1">
            <a href="#">关于我们</a>
            <span></span>
            <a href="#">用户协议</a>
            <span></span>
            <a href="#">帮助中心</a>
            <span></span>
            <a href="#">联系我们</a>
        </p>
        <p class="p2">联系地址：北京市杨浦区国安路星汇广场9号楼9楼 联系电话： 网站备案：沪ICP备15057977号-3</p>
    </div>
</div>

<div class="set-password display-no">
    <div>
        <h2>设置密码</h2>
        <div class="set-password-main">
            <p>帐号密码修改成功后，请记住新密码以便下次登录时使用！</p>
            <table>
                <form name="setPassword">
                    <tr>
                        <td class="td1">初始密码：</td>
                        <td class="td2">
                            <input name="original_password" type="text">
                        </td>
                        <td class="td3"></td>
                    </tr>
                    <tr>
                        <td>新密码：</td>
                        <td>
                            <input name="reset_password" type="password">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>确认新密码：</td>
                        <td>
                            <input name="again_password" type="password">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button>确定</button>
                            <span class="set-password-back">返回</span>
                        </td>
                        <td></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>

<div class="immediately-join display-no" immediately-join="1">
    <div>
        <h2>温馨提示</h2>
        <div class="immediately-join-main">
            <p class="p1">项目方是提供项目的公司、单位或个人，您选择的是项目方</p>
            <p class="p2">选择后不可修改，您是否确定？</p>
            <p class="p3">
                <a href="#">确定
                    <span class="immediately-join-time"></span>
                </a>
                <span class="immediately-join-back">重新选择</span>
            </p>
        </div>
    </div>
</div>

<div class="immediately-join display-no" immediately-join="2">
    <div>
        <h2>温馨提示</h2>
        <div class="immediately-join-main">
            <p class="p1">资金方是提供资金的公司、单位或个人，您选择的是资金方</p>
            <p class="p2">选择后不可修改，您是否确定？</p>
            <p class="p3">
                <a href="#">确定
                    <span class="immediately-join-time"></span>
                </a>
                <span class="immediately-join-back">重新选择</span>
            </p>
        </div>
    </div>
</div>
<script src="../public/js/v2/lib/jquery-1.12.4.min.js"></script>
<script src="../public/js/v2/registered-success.js"></script>
</body>
</html>