<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>金融网</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name = "format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel='icon' href='../public/img/icon/logo.ico' type='image/x-ico'/>
<link rel="stylesheet" href="../public/css/base.css">
<link rel="stylesheet" href="../public/css/common.css">
<!--<link rel="stylesheet" href="../css/all.css">-->
<link rel="stylesheet" href="../public/css/all-rem.css">
<script src="../public/js/rem.js"></script>
</head>
<body>
<div class="all-header">
    重点项目推荐
    <span class="float-l"></span>
    <span class="float-r"></span>
</div>

<div>
    <img class="banner-img" src="../public/img/picture/banner7.png" alt="">
</div>

<div class="important-recommend">
    <div class="div1">
        <h2 class="vertical-line">重点项目推荐</h2>
        <p>
            <a class="btn float-r" href="#">立即申购</a>
            <span>1个月</span>
            <span>/</span>
            <span class="orange">¥6000.00元</span>
        </p>
    </div>
    <div class="div2">
        <h3 class="orange">享受特刊专题特权 </h3>
        <p>专业行业学者优化信息内容</p>
        <p>优秀设计师一对一制作专题页面</p>
        <p>纳入投融界优质项目库名录</p>
        <p>提供高价值推广位固定展示</p>
    </div>
    <div class="segmentation"></div>
    <div class="div3">
        <h2 class="vertical-line">服务特权介绍</h2>
        <div>
            <h3>专题制作</h3>
            <p>根据客户信息内容，策划制作一个信息专项展示页面</p>
        </div>
        <div>
            <h3>重点项目专栏</h3>
            <p>根据业务特性纳入金融网重点项目库内进行重点推荐</p>
        </div>
        <div>
            <h3>推荐位</h3>
            <p>将项目推送到首页“重点项目推荐”栏里进行重点推荐</p>
        </div>
        <div>
            <h3>专题页面</h3>
            <p>专业设计师为您一对一制作高端完美的项目专题页面</p>
        </div>
    </div>
</div>

<div class="all-footer">
    <p>
        <a class="orange" href="#">触屏版</a>
        <a href="#">电脑版</a>
        <a href="#">关于金融网</a>
    </p>
    <p>联系地址：</p>
    <p>联系电话：</p>
    <p></p>
</div>

<script src="../public/js/fastclick.js"></script>
<script>
    window.addEventListener( "load", function() {
        FastClick.attach(document.body);
    }, false );
</script>
<script src="../public/js/jquery-1.12.4.min.js"></script>
<script src="../public/js/qrb-project.js"></script>
</body>
</html>