<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>金融网</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name = "format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel='icon' href='../public/img/icon/logo.ico' type='image/x-ico'/>
<link rel="stylesheet" href="../public/css/base.css">
<link rel="stylesheet" href="../public/css/mobile_common.css">
<link rel="stylesheet" href="../public/css/common.css">
<!--<link rel="stylesheet" href="../css/all.css">-->
<link rel="stylesheet" href="../public/css/all-rem.css">
<script src="../public/js/rem.js"></script>
<script src="../public/js/zepto.min.js"></script>

</head>
<body>
<include file="public:header" />
<!--
<div class="all-header">投融服务<span class="float-l"></span>
<span class="float-r"></span>
</div>
-->
<div class="financing-service-banner">
<img src="../public/img/picture/banner5.jpg" alt="">
</div>
<div class="financing-service">
    <div class="div1">
        <a href="#">
            <img src="../public/img/picture/list49.png" alt="">
            <span>金融宝</span>
            <span>项目方服务</span>
        </a>
        <a href="#">
            <img src="../public/img/picture/list50.png" alt="">
            <span>投资宝</span>
            <span>资金方服务</span>
        </a>
    </div>
    <div class="segmentation"></div>
    <div class="div2">
        <h2 class="vertical-line">单项增值服务</h2>
        <a href="{:U('Services/headlines')}">
            <i></i>头条宝
        </a>
        <a href="#">
            <i></i>重点项目推荐
        </a>
        <a href="#">
            <i></i>优质项目现场推荐
        </a>
        <a href="#">
            <i></i>投递项目
        </a>
        <a href="#">
            <i></i>委托刷新
        </a>
    </div>
    <div class="segmentation"></div>
    <div class="div3">
        <a href="#">登录</a>
        <a href="#">注册</a>
    </div>
</div>

<div class="all-footer">
    <p>
        <a class="orange" href="#">触屏版</a>
        <a href="#">电脑版</a>
        <a href="#">关于金融网</a>
    </p>
    <p>联系地址：北京市杨浦区国安路星汇广场9号楼9楼</p>
    <p>联系电话：</p>
    <p>沪ICP备15057977号-3</p>
</div>

<script src="../public/js/fastclick.js"></script>
<script>
    window.addEventListener( "load", function() {
        FastClick.attach(document.body);
    }, false );
</script>
<script src="../public/js/jquery-1.12.4.min.js"></script>
<script src="../public/js/qrb-project.js"></script>
</body>
</html>