<footer class="container-full" id="footer2">
    <div class="container">
        <ul class="menu clearfix">
            <li>
                <h3>金融网</h3>
                <a href="{:U('Index/about')}">关于我们</a>
                <a href="{:U('Explain/explain_show',array('id'=>8))}">招贤纳士</a>
                <a href="{:U('Explain/explain_show',array('id'=>7))}">联系我们</a>
            </li>
            <li>
                <h3>新手指导</h3>
                <a href="#">免费注册生成名片</a>
                <a href="#">免费发布投融资信息</a>
                <a href="{:U('Help/help_list',array('id'=>3))}">常见问题解答</a>
            </li>
            <li>
                <h3>企业服务</h3>
                <a href="#">金融宝</a>
                <a href="#">委托刷新</a>
                <a href="#">投递项目</a>
            </li>
            <li>
                <h3>平台保障</h3>
                <a href="#">信息审核及关闭</a>
                <a href="#">会员认证</a>
                <a href="#">隐私保护</a>
                <a href="#">违规处罚</a>
            </li>
            <li>
                <h3>加盟合作</h3>
                <a href="{:U('Lianmeng/locate')}">金融网投资生态联盟</a>
                <a href="{:U('Loan/apply_loan')}">线下机构加盟合作</a>
            </li>
        </ul>
        <div class="friendly_link">
            <p>友链互换:<a href="{:U('suggest/index')}">交换友链</a></p>
        }
        </div>
        <div class="record clearfix">
            <div>
                <p>&copy; 2012-2017 7ronghui.com. All rights reserved 金融网</p>
                <p class="beian_number">网站备案 : <a href="http://www.miibeian.gov.cn"></a></p>
                <div class="clearfix">
<a href="http://bbs.7ronghui.com">官方论坛</a>
<a class="bottom_erweima" href="javascript:;">
<i class="iconfont icon-weixin"></i>
<div class="weixin" style="background-color:#fff">
<img src="../public/images/v2/weixin_erweima.jpg" width="120px" height="120px">
</div>
</a>

<a href="http://weibo.com/u/6212990189">
<i class="iconfont icon-weibo"></i>
</a>

<a href="https://jq.qq.com/?_wv=1027&k=4ANgZ8X">
    <i class="iconfont icon-qq"></i>
</a>

                </div>
            </div>
            <div>
                <div>
                    <p>微信 : 扫描二维码咨询在线客服</p>
                    <p>邮箱 : </p>
                    <p>400电话 : </p>
                    <p>时间 : 9:00-18:00</p>
                </div>
                <img src="../public/images/v2/picture/weixin_erweima.jpg" alt="微信关注">
            </div>
        </div>
    </div>

</footer>