<include file="public:meta" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc"/>
<meta name="format-detection" content="telephone=no">
<link href="../public/css/index.css" rel="stylesheet" type="text/css" />
<link href="../public/css/wyl-header-footer.css" rel="stylesheet" type="text/css" />
<link href="../public/css/school.css" rel="stylesheet" type="text/css" />
<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../piblic/js/html5shiv.js"></script>
<![endif]-->
</head>
<body>
<include file="public:header" />
<div id="focus">
<div class="container">
</div>
<div class="college focus-images">
<ul>
<li style="background:url(http://7ronghui.com/Application/Home/View/default/public/images/school/banner1.jpg) center 0 no-repeat;">
<a target="_blank" href="#"></a>
</li>
<li style="background:url(http://7ronghui.com/Application/Home/View/default/public/images/school/banner2.jpg) center 0 no-repeat;">
<a target="_blank" href="#"></a>
</li>
<li style="background:url(http://7ronghui.com/Application/Home/View/default/public/images/school/banner3.jpg) center 0 no-repeat;">
<a target="_blank" href="#"></a>
</li>
</ul>
</div>
<div class="focus-nav">
<ul></ul>
</div>
</div>
<div class="container college-content fn-mb-10 clearfix">
<div class="college-line bg_fafafa">
<div class="fn-left college-title">
<span><i class="icon-trbk"></i>投融百科</span>
</div>
<div class="fn-right college-more">
<!--
<a href="http://www.7ronghui.com/baike.html" target="_blank"  rel="nofollow">查看更多</a><i class="icon-more"></i>
-->
</div>
</div>
<div class="fn-pt-20 fn-pb-20 fn-pl-10 fn-pr-10 clearfix">
<div class="wikipedia">
<div class="wikipedia-title"><h3>投资<i></i></h3></div>
<div class="wikipedia-list mCustomScrollbar">
<ul>
<foreach name="tzbk" item="vo">
<li><a href="/news/news_list/id/{$vo.id}" target="_blank" title="{$vo.categoryname}">{$vo.categoryname}</a></li>
</foreach>
</ul>
</div>
</div>
<div class="wikipedia">
<div class="wikipedia-title"><h3>融资<i></i></h3></div>
<div class="wikipedia-list mCustomScrollbar">
<ul>
<foreach name="rzbk" item="vo">
<li><a href="/news/news_list/id/{$vo.id}" target="_blank" title="{$vo.categoryname}">{$vo.categoryname}</a></li>
</foreach>
</ul>
</div>
</div>
<div class="wikipedia">
<div class="wikipedia-title"><h3>资金<i></i></h3></div>
<div class="wikipedia-list mCustomScrollbar">
<ul>
<ul>
<foreach name="zjbk" item="vo">
<li><a href="/news/news_list/id/{$vo.id}" target="_blank" title="{$vo.categoryname}">{$vo.categoryname}</a></li>
</foreach>
</ul>
</ul>
</div>
</div>
<div class="wikipedia">
<div class="wikipedia-title"><h3>担保<i></i></h3></div>
<div class="wikipedia-list mCustomScrollbar">
<ul>
<ul>
<foreach name="dbbk" item="vo">
<li><a href="/news/news_list/id/{$vo.id}" target="_blank" title="{$vo.categoryname}">{$vo.categoryname}</a></li>
</foreach>
</ul>
</ul>
</div>
</div>
</div>
</div>

<!--
<div class="container">
<div class="college-line">
<div class="fn-left college-title">
<span><i class="icon-cgal"></i>成功案例</span>
</div>
<div class="fn-right college-more">
<a href="http://www.7ronghui.com/success_case/all.html" target="_blank" rel="nofollow">查看更多</a><i class="icon-more"></i>
</div>
</div>
<div class="college-case-list">
<ul>

<li>
<section>
<article>
<a href="http://zhiku.trjcn.com/detail_186479.html" target="_blank">
<img src="http://www.7ronghui.com/upfile/success_case/20170401/thumb_1491018116.jpg">
<div class="pic-shadow"></div>
<div class="font"><p><span>安徽某动物无害化处理项目</span></p></div>
</a>
</article>
<h3 class="fn-mb-10 fn-text-overflow"><a href="http://zhiku.trjcn.com/detail_186479.html" target="_blank" title="安徽某动物无害化处理项目">安徽某动物无害化处理项目</a></h3>
<p>该项目主要负责病死动物无害化处理，日处理能力5吨-10吨。2015年与当地政府签约，政府将投资10亿元建设100万头商品猪生产基地，病死猪将委托本公司处理。<a href="http://zhiku.trjcn.com/detail_186479.html" target="_blank">[查看详细]</a></p>
</section>
</li>
</ul>
</div>
</div>
<div class="container main-find-money fn-mb-10">
<span class="why-find">如何寻找资金？</span>
<span class="count">1</span>
<span class="bz-font">免费注册</span>
<span class="arrow"></span>
<span class="count">2</span>
<span class="bz-font">发布项目</span>
<span class="arrow"></span>
<span class="count">3</span>
<span class="bz-font">寻找资金</span>
<span class="arrow"></span>
<span class="count">4</span>
<span class="bz-font">约谈资金方</span>
<span class="arrow"></span>
<span class="count">5</span>
<span class="bz-font">达成融资</span>
<span class="arrow"></span>
<span class="send-mypro"><a href="http://www.7ronghui.com/manage/publish.html" target="_blank">发布我的项目</a></span>
</div>
<div class="container">
<div class="college-line">
<div class="fn-left college-title">
<span><i class="icon-qsfx"></i>行业发展趋势分析</span>
</div>
<div class="fn-right college-more">
<a href="http://news.trjcn.com/list_74.html" target="_blank" rel="nofollow">查看更多</a><i class="icon-more"></i>
</div>
</div>
<div class="college-case-list">
<ul>

<li>
<section>
<article>
<a href="" target="_blank">
<img src="http://www.7ronghui.com/upfile/attached/image/20170327/20170327172353_95945.png_200X140.jpg">
</a>
</article>
<h3 class="fn-mb-10 fn-text-overflow"><a href="" target="_blank" title="《2017医药行业投资研究报告》告诉你的投资机会：精准医疗、生物工程技术、医药外包、中医药……">《2017医药行业投资研究报告》告诉你的投资机会：精准医疗、生物工程技术、医药外包、中医药……</a></h3>
<p>【内容摘要】医药行业是我国国民经济重要组成部分。根据国家统计局的《国民经济行业分类》，医药制造业包括七个子行业：化学药品原药制造、化学药品制剂制造、中药...<a href="" target="_blank">[查看详细]</a></p>
</section>
</li>

</ul>
</div>
</div>
<div class="container main-find-money main-find-pro fn-mb-10">
<span class="why-find">如何寻找项目？</span>
<span class="count">1</span>
<span class="bz-font">免费注册</span>
<span class="arrow"></span>
<span class="count">2</span>
<span class="bz-font">发布资金</span>
<span class="arrow"></span>
<span class="count">3</span>
<span class="bz-font">寻找项目</span>
<span class="arrow"></span>
<span class="count">4</span>
<span class="bz-font">约谈项目方</span>
<span class="arrow"></span>
<span class="count">5</span>
<span class="bz-font">达成投资</span>
<span class="arrow"></span>
<span class="send-mypro"><a href="http://www.7ronghui.com/manage/publish.html" target="_blank">发布我的资金</a></span>
</div>
<div class="container fn-mt-20">
<div class="fn-left college-home-left">
<div class="college-tab clearfix">
<div class="fn-left college-tab-menu">
<ul>
<li class="active" data-url="http://zhiku.trjcn.com/list_1806.html">商业计划书</li>
<li data-url="http://zhiku.trjcn.com/list_1805.html">研究指导</li>
</ul>
</div>
<div class="fn-right college-more">
<a href="http://zhiku.trjcn.com/list_1806.html" target="_blank" rel="nofollow">查看更多</a><i class="icon-more"></i>
</div>
</div>
<div class="collede-double-con">
<div class="collede-double clearfix">
<ul>

<li class="fn-text-overflow">· <a href="http://zhiku.trjcn.com/detail_144962.html" target="_blank" title="健康管理服务项目融资商业计划书"> 健康管理服务项目融资商业计划书</a></li>
</ul>
</div>
<div class="collede-double fn-hide clearfix">
<ul>

<li class="fn-text-overflow">· <a href="http://zhiku.trjcn.com/detail_145746.html" target="_blank" title="互联网金融风控需要搞清的7个问题"> 互联网金融风控需要搞清的7个问题</a></li>
</ul>
</div>
</div>
<div class="fn-mb-10">
<a href="http://www.7ronghui.com/click.html?ad_id=adid_7269" target="_blank"><img src="http://static.trjcn.com/upfile/apply/201703/180_1490925525.jpg" width="740" height="75" ></a>
</div>
<div class="college-line fn-mb-10">
<div class="fn-left college-title">
<span><i class="icon-trjzt"></i>金融网专题</span>
</div>
<div class="fn-right college-more">
<a href="http://www.7ronghui.com/tgzt/index.html" target="_blank" rel="nofollow">查看更多</a><i class="icon-more"></i>
</div>
</div>
<div class="college-case-con fn-mb-10">
<ul>

<li>
<a href="#" target="_blank" title="创业风险投资案例">
<img src="#" />
<p class="fn-text-overflow">【创业风险投资案例】</p>
</a>
</li>
</ul>
</div>
<div class="fn-mb-20">
<a href="http://www.7ronghui.com/click.html?ad_id=adid_7201"  target="_blank"><img src="http://static.trjcn.com/upfile/apply/201703/180_1489478846.jpg" width="740" height="75"></a>
</div>
<div class="college-tab clearfix">
<div class="fn-left college-tab-menu">
<ul>
<li class="active" data-url="http://zhiku.trjcn.com/list_1807.html">合同范本协议</li>
<li data-url="http://zhiku.trjcn.com/list_1803.html">相关法律法规</li>
</ul>
</div>
<div class="fn-right college-more">
<a href="http://zhiku.trjcn.com/list_1807.html" target="_blank" rel="nofollow">查看更多</a><i class="icon-more"></i>
</div>
</div>
<div class="collede-double-con">
<div class="collede-double clearfix">
<ul>


<li class="fn-text-overflow">· <a href="#" target="_blank" title="#"> #</a></li>
</ul>
</div>
<div class="collede-double fn-hide clearfix">
<ul>

<li class="fn-text-overflow">· <a href="#" target="_blank" title="#"> #</a></li>

</ul>
</div>
</div>
<div class="aa mt10">
<a href="http://www.7ronghui.com/click.html?ad_id=adid_7224"  target="_blank"><img src="http://static.trjcn.com/upfile/apply/201703/180_1490001733.jpg" width="740" height="75" ></a>
</div>
</div>
<div class="fn-right college-home-right">
<div class="fn-border-gary">
<div class="college-three-tab clearfix">
<ul>
<li class="active">日排行</li>
<li>周排行</li>
<li class="fn-br-r0">月排行</li>
</ul>
</div>
<div class="college-three-con">
<div class="college-three-list">
<ul>

<li class="first fn-text-overflow"><em>1</em><a href="http://zhiku.trjcn.com/detail_186479.html" target="_blank" title="安徽某动物无害化处理项目成功融资">安徽某动物无害化处理项目成功融资</a></li>


</ul>
</div>
<div class="college-three-list fn-hide">
<ul>

<li class="first fn-text-overflow"><em>1</em><a href="#" target="_blank" title="广东某大学生互联网平台项目成功融资1亿元">广东某大学生互联网平台项目成功融资1亿元</a></li>

</ul>
</div>
<div class="college-three-list fn-hide">
<ul>

<li class=" fn-text-overflow"><em>10</em><a href="#" target="_blank" title="湖北某旅游度假区项目成功融资1亿元">湖北某旅游度假区项目成功融资1亿元</a></li>

</ul>
</div>
</div>
</div>
<div class="fn-mt-20 fn-mb-20">
<a href="#" target="_blank"><img src="#"  width="240" height="260" ></a>
</div>
<div class="college-right-list clearfix">
<div class="college-line bg-f3f3f3">
<div class="fn-left college-title">
<span>大家都在看</span>
</div>
<div class="fn-right college-change">
<i></i><a href="javascript:void(0);"  class="more" data-page='2'>换一换</a>
</div>
</div>
<div class="college-right-article clearfix" >
<ul id="key_more">
<li><i></i><a href="http://www.7ronghui.com/hy/APP.html" target="_blank" title="APP风险投资公司">APP风险投资</a></li>
<li><i></i><a href="http://www.7ronghui.com/org/detail_287.html" target="_blank" title="和君资本">和君资本</a></li>
<li><i></i><a href="http://www.7ronghui.com/lp/1585.html" target="_blank" title="个人投资">个人投资</a></li>
<li><i></i><a href="http://www.7ronghui.com/lp/1028.html" target="_blank" title="合伙人网">合伙人网</a></li>
<li><i></i><a href="http://www.7ronghui.com/lp/1030.html" target="_blank" title="合作">合作</a></li>
<li><i></i><a href="http://www.7ronghui.com/lp/37.html" target="_blank" title="信托投资公司">信托投资公</a></li>
<li><i></i><a href="http://www.7ronghui.com/org/detail_2133.html" target="_blank" title="博裕投资">博裕投资</a></li>
<li><i></i><a href="http://www.7ronghui.com/org/detail_745.html" target="_blank" title="老虎基金">老虎基金</a></li>
<li><i></i><a href="http://www.7ronghui.com/org/detail_119.html" target="_blank" title="高原资本">高原资本</a></li>
<li><i></i><a href="http://www.7ronghui.com/org/detail_121.html" target="_blank" title="东方富海">东方富海</a></li>
<li><i></i><a href="http://www.7ronghui.com/investor/detail_8.html" target="_blank" title="今日资本 徐新">今日资本 徐</a></li>
<li><i></i><a href="http://www.7ronghui.com/investor/detail_8.html" target="_blank" title="徐新">徐新</a></li>
<li><i></i><a href="http://www.7ronghui.com/org/detail_657.html" target="_blank" title="君丰资本">君丰资本</a></li>
<li><i></i><a href="http://www.7ronghui.com/org/detail_1176.html" target="_blank" title="国开金融">国开金融</a></li>
<li><i></i><a href="http://www.7ronghui.com/investor/detail_131.html" target="_blank" title="刘维">刘维</a></li>
<li><i></i><a href="http://www.7ronghui.com/investor/detail_82.html" target="_blank" title="花欣">花欣</a></li>

</ul>
</div>
</div>
<div class="fn-mt-20 fn-mb-20">
</div>
<div class="college-right-list clearfix">
<div class="college-line bg-f3f3f3">
<div class="fn-left college-title">
<span>帮助中心</span>
</div>
<div class="fn-right college-change">
<a href="http://www.7ronghui.com/help.html" target="_blank" rel="nofollow">更多</a>
</div>
</div>
<div class="college-right-article helpcenter clearfix">
<ul>

<li class="fn-text-overflow"><i></i><a href="#" title="专题：金融网教你不同阶段如何找投资人" target="_blank">专题：金融网教你不同阶段如何找投资人</a></li>
</ul>
</div>
</div>
</div>
</div>
-->
<include file="public:footer" />
</body>
</html>
