.detection-data {
    background: #f5f5f5 none repeat scroll 0 0;
    line-height: 26px;
    padding: 10px 20px;
}
.detection-data .ui-text-red {
    font-family: "微软雅黑";
    font-size: 18px;
}
.detection-data .ui-text-gray-2 {
    display: block;
    margin-left: 90px;
}
i.icoBul16 {
    background-position: left -159px;
}
i.icoErr16, i.icoWar16, i.icoDou16, i.icoPro16, i.icoBul16, i.icoCor16, i.icoHor16, i.icoCor16gray, i.icoPro16yellow {
    background: rgba(0, 0, 0, 0) url("../../images/icon-tips.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
    width: 16px;
}
.fn-ml-20 {
    margin-left: 20px !important;
}
.part-info-a-all {
    border: 1px solid #ddd;
    margin-top: 10px;
}
.part-info-a-all header {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #999;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px;
}
.part-info-a-all .part-info-a-box {
    color: #666;
    padding: 20px 20px 10px;
}
.part-info-a-all .part-info-a-box footer {
    border-top: 1px dashed #ddd;
    margin-top: 10px;
    padding-top: 10px;
}
.footer-published {
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
.part-info-a-all .delivery-times-msg {
    left: -10px;
    top: 46px;
}
.information-form-all-a {
    margin-left: 192px;
}
.information-form-all-a nav {
    height: 30px;
}
.information-form-all-a nav li {
    display: block;
    float: left;
    margin-right: 5px;
    position: relative;
}
.information-form-all-a nav li a {
    background: #ddd none repeat scroll 0 0;
    color: #999;
    display: block;
    font-size: 14px;
    height: 26px;
    padding-top: 4px;
    text-align: center;
    width: 110px;
}
.information-form-all-a nav li a:hover, .information-form-all-a nav li.current a {
    background: #ff6633 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.information-form-all-a nav li i {
    background: rgba(0, 0, 0, 0) url("../../images/member/icon.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}
.information-form-all-a nav li i.icon-part1 {
    background-position: -20px -140px;
}
.information-form-all-a nav li i.icon-part2 {
    background-position: -60px -140px;
}
.information-form-all-a nav li i.icon-part3 {
    background-position: -100px -140px;
}
.information-form-all-a nav li a:hover i.icon-part1, .information-form-all-a nav li.current i.icon-part1 {
    background-position: 0 -140px;
}
.information-form-all-a nav li a:hover i.icon-part2, .information-form-all-a nav li.current i.icon-part2 {
    background-position: -40px -140px;
}
.information-form-all-a nav li a:hover i.icon-part3, .information-form-all-a nav li.current i.icon-part3 {
    background-position: -80px -140px;
}
.news-info-title .news-info-name {
    font-size: 14px;
    font-weight: bold;
}
.news-info-title .news-info-certification {
    background: #54618f none repeat scroll 0 0;
    color: #fff;
    padding: 0 5px;
}
.part-info-a-all .part-info-a-box footer {
    border-top: 1px dashed #ddd;
    margin-top: 10px;
    padding-top: 10px;
}
.fn-clear::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.ui-text-red {
    color: #e93100;
}
.fn-font-b {
    font-weight: bold;
}
i.icoBul16 {
    background-position: left -159px;
}