#toggleActive {
	padding: 10px;
	width: 100%;
	text-align: center;
	display: inline-block;
	background: #444;
	color: #eee;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition: all 200ms ease-out;
	-mozilla-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
#toggleActive.active {
	background: #F66169;
	color: #FAEFDE
}
#scrollUp-active {
	display: none
}