<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>金融网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网"/>
<meta name="description" content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
<link rel='icon' href='../public/images/services/logo.ico' type='image/x-ico'/>
<link rel="stylesheet" href="../public/css/services/base.css">
<link rel="stylesheet" href="../public/css/services/component.css">
<link rel="stylesheet" href="../public/css/v2/module.css">
<link rel="stylesheet" href="../public/css/v2/all.css">
</head>
<body>
<div class="header">
    <div>
        <div class="header-login">
            <p class="float-l">欢迎登录金融网！请
                <a href="#">登录</a>
                或
                <a href="#">免费注册</a></p>
            <ul class="float-l">
                <li class="li1">
                    <a href="#">网站首页</a>
                </li>
                <li class="li2">
                    <a href="#">新手指导</a>
                </li>
                <li class="li3">
                    <a href="#">保存到桌面</a>
                </li>
                <li class="li4 position-rel">
                    <a href="#" class="position-rel">手机金融网</a>
                    <div class="position-abs">
                        <img src="../public/images/services/list10.png" alt="">
                        <p>扫描我，立刻打开触屏站</p>
                        <p>手机触屏站：</p>
                        <span>m.7ronghui.com</span>
                    </div>
                </li>
                <li class="li5">
                    <a href="#">资本机构免费入驻</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="header-nav">
            <a class="float-l" href="#">
                <img src="../public/images/services/logo-2.png" alt="">
            </a>
            <ul class="float-l">
                <li>
                    <a href="#">首 页</a>
                </li>
                <li>
                    <a href="#">找资金</a>
                </li>
                <li>
                    <a href="#">融资直通车</a>
                </li>
                <li>
                    <a href="#">选项目</a>
                </li>
                <li>
                    <a href="#">资讯</a>
                </li>
                <li>
                    <a href="#">投资学院</a>
                </li>
                <li class="select">
                    <a href="#">投资服务</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="banner deliver-project-banner">
    <a href="#"></a>
</div>
<div class="deliver-project">
    <h2 class="position-rel">
        投递项目
        <span class="position-abs line-left"></span>
        <span class="position-abs line-right"></span>
    </h2>
    <p class="p1">
        <span>服务内容:</span>
        <span>01. 将你的项目信息第一时间发给投资人</span>
        <span>02. 让投资人第一时间知道你</span>
        <span>03. 主动出击，为自己争取更多的融资机会</span>
    </p>
    <p class="p2">
        <span>04. 有机会与投资人面对面交流</span>
    </p>
    <ul class="ul1">
        <li>
            <p>单条</p>
            <p>/</p>
            <p>50.00元/条</p>
            <p>无优惠</p>
            <a class="btn" href="#">立即购买</a>
        </li>
        <li>
            <p>8折套餐10条</p>
            <p>/</p>
            <p>400.00元/10条</p>
            <p>省<span>100</span>元</p>
            <a class="btn" href="#">立即购买</a>
        </li>
        <li>
            <p>7折套餐50条</p>
            <p>/</p>
            <p>1750.00元/50条</p>
            <p>省<span>750</span>元</p>
            <a class="btn" href="#">立即购买</a>
        </li>
        <li>
            <p>6折套餐100条</p>
            <p>/</p>
            <p>3000.00元/100条</p>
            <p>省<span>2000</span>元</p>
            <a class="btn" href="#">立即购买</a>
        </li>
    </ul>
    <h2 class="position-rel">
        服务特权介绍
        <span class="position-abs line-left"></span>
        <span class="position-abs line-right"></span>
    </h2>
    <ul class="ul2">
        <li>
            <h3>单条立即投递</h3>
            <p>主动投递合作信息，快速完成双方对接，增加成功率，按条收费（无其他费用）。</p>
        </li>
        <li>
            <h3>投递0门槛</h3>
            <p>投递无门槛，轻松一步完成，无需注册登录，也可以随时随地投递。</p>
        </li>
        <li>
            <h3>短信通知对方</h3>
            <p>第一时间以手机短信形式提醒对方，发送合作意向信息内容。</p>
        </li>
    </ul>
    <ul class="ul3">
        <li>
            <h3>手机号码可见</h3>
            <p>您的手机号码对方可见，方便对方第一时间与您联系，高效完成合作。</p>
        </li>
        <li>
            <h3>投递查询便捷</h3>
            <p>点击会员中心“我的投递”，即可查询项目投递记录及状态。</p>
        </li>
    </ul>
</div>

<div class="introduce">
    <ul>
        <li>
            <img src="../public/images/services/list15.png" alt="">
            <span>一对一客服</span>
        </li>
        <li>
            <img src="../public/images/services/list16.png" alt="">
            <span>隐私保护</span>
        </li>
        <li>
            <img src="../public/images/services/list17.png" alt="">
            <span>服务费合理</span>
        </li>
        <li>
            <img src="../public/images/services/list18.png" alt="">
            <span>信息可靠</span>
        </li>
        <li>
            <img src="../public/images/services/list19.png" alt="">
            <span>手机访问</span>
        </li>
    </ul>
</div>

<div class="footer">
    <ul class="ul1">
        <li>
            <img src="../public/images/services/list20.png" alt="">
            <p></p>
            <span>客服热线（服务时间9:00-19:00）</span>
        </li>
        <li>
            <h3>平台保障</h3>
            <p>
                <a href="#">招贤纳士</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">推广合作</a>
            </p>
            <p>
                <a href="#">法律申明</a>
            </p>
        </li>
        <li>
            <h3>新手指导</h3>
            <p>
                <a href="#">免费注册生成名片</a>
            </p>
            <p>
                <a href="#">免费发布投融信息</a>
            </p>
            <p>
                <a href="#">常见问题解答</a>
            </p>
        </li>
        <li>
            <h3>投资服务</h3>
            <p>
                <a href="#">融资宝</a>
            </p>
            <p>
                <a href="#">委托刷新</a>
            </p>
            <p>
                <a href="#">投递项目</a>
            </p>
        </li>
        <li>
            <h3>关于金融网</h3>
            <p>
                <a href="#">关于金融网</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">网站公告</a>
            </p>
            <p>
                <a href="#">隐私条款 网站地图</a>
            </p>
        </li>
        <li>
            <img src="../public/images/services/list21.png" alt="">
        </li>
    </ul>
    <p>联系地址：北京市杨浦区国安路星汇广场9号楼9楼 联系电话： 网站备案：沪ICP备15057977号-3</p>
</div>
</body>
</html>