<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>金融网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网"/>
<meta name="description"
          content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
<link rel='icon' href='../public/images/v2/icon/logo.ico' type='image/x-ico'/>
<link rel="stylesheet" href="../public/css/v2/base.css">
<link rel="stylesheet" href="../public/css/v2/component.css">
<link rel="stylesheet" href="../public/css/v2/module.css">
<link rel="stylesheet" href="../public/css/v2/all.css">
</head>
<body>
<div class="header">
    <div>
        <div class="header-login">
            <p class="float-l">欢迎登录金融网！请
                <a href="#">登录</a>
                或
                <a href="#">免费注册</a></p>
            <ul class="float-l">
                <li class="li1">
                    <a href="#">网站首页</a>
                </li>
                <li class="li2">
                    <a href="#">新手指导</a>
                </li>
                <li class="li3">
                    <a href="#">保存到桌面</a>
                </li>
                <li class="li4 position-rel">
                    <a href="#" class="position-rel">手机金融网</a>
                    <div class="position-abs">
                        <img src="../public/images/v2/picture/list10.png" alt="">
                        <p>扫描我，立刻打开触屏站</p>
                        <p>手机触屏站：</p>
                        <span>m.7ronghui.com</span>
                    </div>
                </li>
                <li class="li5">
                    <a href="#">资本机构免费入驻</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="header-nav">
            <a class="float-l" href="#">
                <img src="../public/images/v2/picture/logo-2.png" alt="">
            </a>
            <ul class="float-l">
                <li>
                    <a href="#">首 页</a>
                </li>
                <li>
                    <a href="#">找资金</a>
                </li>
                <li>
                    <a href="#">融资直通车</a>
                </li>
                <li>
                    <a href="#">选项目</a>
                </li>
                <li>
                    <a href="#">资讯</a>
                </li>
                <li>
                    <a href="#">投资学院</a>
                </li>
                <li class="select">
                    <a href="#">投资服务</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="banner headlines-banner">
    <a href="#"></a>
</div>

<div class="headlines">
    <h2 class="position-rel">
        头条宝
        <span class="position-abs line-left"></span>
        <span class="position-abs line-right"></span>
    </h2>
    <ul class="ul1">
        <li>
            <h4>对您的企业/项目进行重点包装和推广</h4>
            <h4>提升企业/项目的知名度及品牌价值</h4>
            <p>项目专访，并撰写采访稿件</p>
            <p>专项推广，多方位宣传企业、项目及产品</p>
            <p>新媒体首发，覆盖10W+企业主及投资人，拓展您的人脉圈</p>
            <p>媒体联盟互推，提升企业/项目品牌价值</p>
        </li>
        <li>
            <p>1次</p>
            <span>/</span>
            <p>¥12000.00元</p>
            <a class="btn" id="buy" href="#">立即申购</a>
        </li>
    </ul>
    <h2 class="position-rel">
        服务特权介绍
        <span class="position-abs line-left"></span>
        <span class="position-abs line-right"></span>
    </h2>
    <ul class="ul2">
        <li>
            <img src="../public/images/v2/picture/list28.png" alt="">
            <h3>专访</h3>
            <p>项目专访一次，并撰写采访稿件一篇</p>
        </li>
        <li>
            <img src="../public/images/v2/picture/list29.png" alt="">
            <h3>金融网站内推广</h3>
            <p>纳入金融网最具潜力企业推广板块，进行重点推广</p>
        </li>
        <li>
            <img src="../public/images/v2/picture/list30.png" alt="">
            <h3>站外推广</h3>
            <p>媒体联盟互推，五家以上知名媒联合推广</p>
        </li>
    </ul>
</div>

<div class="introduce">
    <ul>
        <li>
            <img src="../public/images/v2/picture/list15.png" alt="">
            <span>一对一客服</span>
        </li>
        <li>
            <img src="../public/images/v2/picture/list16.png" alt="">
            <span>隐私保护</span>
        </li>
        <li>
            <img src="../public/images/v2/picture/list17.png" alt="">
            <span>服务费合理</span>
        </li>
        <li>
            <img src="../public/images/v2/picture/list18.png" alt="">
            <span>信息可靠</span>
        </li>
        <li>
            <img src="../public/images/v2/picture/list19.png" alt="">
            <span>手机访问</span>
        </li>
    </ul>
</div>

<div class="footer">
    <ul class="ul1">
        <li>
            <img src="../public/images/v2/picture/list20.png" alt="">
            <p></p>
            <span>客服热线（服务时间9:00-19:00）</span>
        </li>
        <li>
            <h3>平台保障</h3>
            <p>
                <a href="#">招贤纳士</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">推广合作</a>
            </p>
            <p>
                <a href="#">法律申明</a>
            </p>
        </li>
        <li>
            <h3>新手指导</h3>
            <p>
                <a href="#">免费注册生成名片</a>
            </p>
            <p>
                <a href="#">免费发布投融信息</a>
            </p>
            <p>
                <a href="#">常见问题解答</a>
            </p>
        </li>
        <li>
            <h3>投资服务</h3>
            <p>
                <a href="#">融资宝</a>
            </p>
            <p>
                <a href="#">委托刷新</a>
            </p>
            <p>
                <a href="#">投递项目</a>
            </p>
        </li>
        <li>
            <h3>关于金融网</h3>
            <p>
                <a href="#">关于金融网</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">网站公告</a>
            </p>
            <p>
                <a href="#">隐私条款 网站地图</a>
            </p>
        </li>
        <li>
            <img src="../public/images/v2/picture/list21.png" alt="">
        </li>
    </ul>
    <p>联系地址：北京市杨浦区国安路星汇广场9号楼9楼 联系电话： 网站备案：沪ICP备15057977号-3</p>
</div>
<script src="../public/js/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/jquery.modal.dialog.js"></script>
<script type="text/javascript">
    $('#buy').click(function(){
        var qsDialog = $(this).dialog({
        title: '请登录',
        loading: true,
        showFooter: false,
        yes: function() {
        }
    });
    $.getJSON("/index.php?m=&c=AjaxPersonal&a=show_contact",function(result){
    if(result.status == 1){
        qsDialog.setContent(result.data);
    }else{
    qsDialog.setContent('<div class="confirm">' + result.msg + '</div>');
    }
    });
    });
</script>
</body>
</html>