<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金融网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网"/>
    <meta name="description" content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
    <link rel='icon' href='../img/icon/logo.ico' type='image/x-ico'/>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/component.css">
    <link rel="stylesheet" href="../css/module.css">
    <link rel="stylesheet" href="../css/all.css">
</head>
<body>
<div class="header">
    <div>
        <div class="header-login">
            <p class="float-l">欢迎登录金融网！请
                <a href="#">登录</a>
                或
                <a href="#">免费注册</a></p>
            <ul class="float-l">
                <li class="li1">
                    <a href="#">网站首页</a>
                </li>
                <li class="li2">
                    <a href="#">新手指导</a>
                </li>
                <li class="li3">
                    <a href="#">保存到桌面</a>
                </li>
                <li class="li4 position-rel">
                    <a href="#" class="position-rel">手机金融网</a>
                    <div class="position-abs">
                        <img src="../img/picture/list10.png" alt="">
                        <p>扫描我，立刻打开触屏站</p>
                        <p>手机触屏站：</p>
                        <span>m.7ronghui.com</span>
                    </div>
                </li>
                <li class="li5">
                    <a href="#">资本机构免费入驻</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="header-nav">
            <a class="float-l" href="#">
                <img src="../img/picture/logo-2.png" alt="">
            </a>
            <ul class="float-l">
                <li>
                    <a href="#">首 页</a>
                </li>
                <li>
                    <a href="#">找资金</a>
                </li>
                <li>
                    <a href="#">融资直通车</a>
                </li>
                <li>
                    <a href="#">选项目</a>
                </li>
                <li>
                    <a href="#">资讯</a>
                </li>
                <li>
                    <a href="#">投资学院</a>
                </li>
                <li class="select">
                    <a href="#">投资服务</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="banner message-top-banner">
    <a href="#"></a>
</div>

<div class="message-top">
    <h2 class="position-rel">
        单项增值业务
        <span class="position-abs line-left"></span>
        <span class="position-abs line-right"></span>
    </h2>
    <ul class="ul1">
        <li class="float-l">
            <h4>委托刷新信息排名靠前</h4>
            <p>系统刷新将您的信息排名靠前</p>
            <p>时刻自动完成操作</p>
        </li>
        <ul class="float-l">
            <li class="float-l li1">
                <h4>7天</h4>
                <span>/</span>
                <p>¥300.00元/条</p>
                <a class="btn" href="#">立即购买</a>
            </li>
            <li class="float-l li2">
                <h4>30天</h4>
                <span>/</span>
                <p>¥900.00元/条</p>
                <a class="btn" href="#">立即购买</a>
            </li>
            <li class="float-l li3">
                <img src="../img/picture/list11.png" alt="">
            </li>
        </ul>

    </ul>
    <h2 class="position-rel">
        服务特权介绍
        <span class="position-abs line-left"></span>
        <span class="position-abs line-right"></span>
    </h2>
    <ul class="ul2">
        <li class="float-l">
            <div>
                <h3>01</h3>
                <h4>定时刷新</h4>
                <p>设定时间，每天准时帮您刷新，保证每天的信息排名</p>
            </div>
            <div>
                <img src="../img/picture/list12.png" alt="">
            </div>
        </li>
        <li class="float-l">
            <div>
                <h3>02</h3>
                <h4>固定周期</h4>
                <p>设定周期，在设定的周期中帮您刷新，保持一段时间的排名优势</p>
            </div>
            <div>
                <img src="../img/picture/list13.png" alt="">
            </div>
        </li>
        <li class="float-l">
            <div>
                <h3>03</h3>
                <h4>排名靠前</h4>
                <p>发布时间刷新，信息排名更靠前</p>
            </div>
            <div>
                <img src="../img/picture/list14.png" alt="">
            </div>
        </li>
    </ul>
</div>

<div class="introduce">
    <ul>
        <li>
            <img src="../img/picture/list15.png" alt="">
            <span>一对一客服</span>
        </li>
        <li>
            <img src="../img/picture/list16.png" alt="">
            <span>隐私保护</span>
        </li>
        <li>
            <img src="../img/picture/list17.png" alt="">
            <span>服务费合理</span>
        </li>
        <li>
            <img src="../img/picture/list18.png" alt="">
            <span>信息可靠</span>
        </li>
        <li>
            <img src="../img/picture/list19.png" alt="">
            <span>手机访问</span>
        </li>
    </ul>
</div>

<div class="footer">
    <ul class="ul1">
        <li>
            <img src="../img/picture/list20.png" alt="">
            <p></p>
            <span>客服热线（服务时间9:00-19:00）</span>
        </li>
        <li>
            <h3>平台保障</h3>
            <p>
                <a href="#">招贤纳士</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">推广合作</a>
            </p>
            <p>
                <a href="#">法律申明</a>
            </p>
        </li>
        <li>
            <h3>新手指导</h3>
            <p>
                <a href="#">免费注册生成名片</a>
            </p>
            <p>
                <a href="#">免费发布投融信息</a>
            </p>
            <p>
                <a href="#">常见问题解答</a>
            </p>
        </li>
        <li>
            <h3>投资服务</h3>
            <p>
                <a href="#">融资宝</a>
            </p>
            <p>
                <a href="#">委托刷新</a>
            </p>
            <p>
                <a href="#">投递项目</a>
            </p>
        </li>
        <li>
            <h3>关于金融网</h3>
            <p>
                <a href="#">关于金融网</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">网站公告</a>
            </p>
            <p>
                <a href="#">隐私条款 网站地图</a>
            </p>
        </li>
        <li>
            <img src="../img/picture/list21.png" alt="">
        </li>
    </ul>
    <p>联系地址：北京市杨浦区国安路星汇广场9号楼9楼 联系电话： 网站备案：沪ICP备15057977号-3</p>
</div>

</body>
</html>