<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>金融网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网"/>
<meta name="description" content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
<link rel='icon' href='../public/images/v2/ico/logo.ico' type='image/x-ico'/>
<link rel="stylesheet" href="../public/css/v2/base.css">
<link rel="stylesheet" href="../public/css/v2/component.css">
<link rel="stylesheet" href="../public/css/v2/module.css">
<link rel="stylesheet" href="../public/css/v2/all.css">
</head>
<body>
<div class="header">
    <div>
        <div class="header-login">
            <p class="float-l">欢迎登录金融网！请
                <a href="#">登录</a>
                或
                <a href="#">免费注册</a></p>
            <ul class="float-l">
                <li class="li1">
                    <a href="#">网站首页</a>
                </li>
                <li class="li2">
                    <a href="#">新手指导</a>
                </li>
                <li class="li3">
                    <a href="#">保存到桌面</a>
                </li>
                <li class="li4 position-rel">
                    <a href="#" class="position-rel">手机金融网</a>
                    <div class="position-abs">
                        <img src="../public/images/services/list10.png" alt="">
                        <p>扫描我，立刻打开触屏站</p>
                        <p>手机触屏站：</p>
                        <span>m.7ronghui.com</span>
                    </div>
                </li>
                <li class="li5">
                    <a href="#">资本机构免费入驻</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="header-nav">
            <a class="float-l" href="#">
                <img src="../public/images/services/logo-2.png" alt="">
            </a>
            <ul class="float-l">
                <li>
                    <a href="#">首 页</a>
                </li>
                <li>
                    <a href="#">找资金</a>
                </li>
                <li>
                    <a href="#">融资直通车</a>
                </li>
                <li>
                    <a href="#">选项目</a>
                </li>
                <li>
                    <a href="#">资讯</a>
                </li>
                <li>
                    <a href="#">投资学院</a>
                </li>
                <li class="select">
                    <a href="#">投资服务</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="banner qrb-project-banner">
    <a href="#"></a>
</div>

<div class="qrb-project">
    <ul>
        <li class="li1">
            <div>服务内容</div>
            <div>
                <h4>联系方式查看</h4>
                <p>更直接获得对方联系信息</p>
            </div>
            <div>
                <h4>委托刷新</h4>
                <p>委托刷新代您进行刷新</p>
            </div>
            <div>
                <h4>金融特刊</h4>
                <p>定制特刊形式，精确推送至目标客户邮箱内</p>
            </div>
            <div>
                <h4>信息精编展示</h4>
                <p>将您的信息发送给目标客户</p>
            </div>
            <div>
                <h4>信息精编推送</h4>
                <p>选择最优质的资金信息发送给您</p>
            </div>
            <div>
                <h4>商业计划书编写</h4>
                <p>专业人员协助编写商业计划书</p>
            </div>
            <div>
                <h4>创刻秀路演</h4>
                <p>参加创刻秀活动路演名额壹个</p>
            </div>
            <div>
                <h4>套餐优惠价</h4>
                <p>开通服务，即可享用会员特权</p>
            </div>
        </li>
        <li class="li2">
            <div>金融宝</div>
            <div class="qrb-project-false">188条</div>
            <div class="qrb-project-false">--</div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-false">--</div>
            <div class="qrb-project-false">--</div>
            <div class="qrb-project-buy overflow-hid">
                <p>
                    <span>15000.00</span>
                    元 /3 个月
                </p>
                <p>
                    <span class="qrb-project-reduce">-</span>
                    <span class="qrb-project-num">1</span>
                    <span class="qrb-project-add">+</span>
                </p>
                <a class="btn" href="#">立即购买</a>
            </div>
        </li>
        <li class="li3">
            <div>金融宝白金版</div>
            <div class="qrb-project-false">388条</div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-false">--</div>
            <div class="qrb-project-buy overflow-hid">
                <p>
                    <span>45000.00</span>
                    元 /3 个月
                </p>
                <p>
                    <span class="qrb-project-reduce">-</span>
                    <span class="qrb-project-num">1</span>
                    <span class="qrb-project-add">+</span>
                </p>
                <a class="btn" href="#">立即购买</a>
            </div>
        </li>
        <li class="li4">
            <div>金融宝钻石版</div>
            <div class="qrb-project-false">388条</div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-false">--</div>
            <div class="qrb-project-ture"></div>
            <div class="qrb-project-buy overflow-hid">
                <p>
                    <span>58000.00</span>
                    元 /3 个月
                </p>
                <p>
                    <span class="qrb-project-reduce">-</span>
                    <span class="qrb-project-num">1</span>
                    <span class="qrb-project-add">+</span>
                </p>
                <a class="btn" href="#">立即购买</a>
            </div>
        </li>
    </ul>
</div>

<div class="introduce">
    <ul>
        <li>
            <img src="../public/images/services/list15.png" alt="">
            <span>一对一客服</span>
        </li>
        <li>
            <img src="../public/images/services/list16.png" alt="">
            <span>隐私保护</span>
        </li>
        <li>
            <img src="../public/images/services/list17.png" alt="">
            <span>服务费合理</span>
        </li>
        <li>
            <img src="../public/images/services/list18.png" alt="">
            <span>信息可靠</span>
        </li>
        <li>
            <img src="../public/images/services/list19.png" alt="">
            <span>手机访问</span>
        </li>
    </ul>
</div>

<div class="footer">
    <ul class="ul1">
        <li>
            <img src="../public/images/services/list20.png" alt="">
            <p></p>
            <span>客服热线（服务时间9:00-19:00）</span>
        </li>
        <li>
            <h3>平台保障</h3>
            <p>
                <a href="#">招贤纳士</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">推广合作</a>
            </p>
            <p>
                <a href="#">法律申明</a>
            </p>
        </li>
        <li>
            <h3>新手指导</h3>
            <p>
                <a href="#">免费注册生成名片</a>
            </p>
            <p>
                <a href="#">免费发布投融信息</a>
            </p>
            <p>
                <a href="#">常见问题解答</a>
            </p>
        </li>
        <li>
            <h3>投资服务</h3>
            <p>
                <a href="#">融资宝</a>
            </p>
            <p>
                <a href="#">委托刷新</a>
            </p>
            <p>
                <a href="#">投递项目</a>
            </p>
        </li>
        <li>
            <h3>关于金融网</h3>
            <p>
                <a href="#">关于金融网</a>
            </p>
            <p>
                <a href="#">联系我们</a>
            </p>
            <p>
                <a href="#">网站公告</a>
            </p>
            <p>
                <a href="#">隐私条款 网站地图</a>
            </p>
        </li>
        <li>
            <img src="../public/images/services/list21.png" alt="">
        </li>
    </ul>
    <p>联系地址：北京市杨浦区国安路星汇广场9号楼9楼 联系电话： 网站备案：沪ICP备15057977号-3</p>
</div>
<script src="../public/js/v2/lib/jquery-1.12.4.min.js"></script>
<script src="../public/js/v2/qrb-project.js"></script>
</body>
</html>