/*头部开始*/
.header {
    width: 100%;
}

.header .bg {
    width: 100%;
}

.header > a {
    top: 10px;
    left: 14px;
}

.header > a img {
    width: 53px;
}

/*登录开始*/
.login {
    width: 100%;
    bottom: 10px;
    left: 0;
}

.login h3 {
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.mobile {
    width: 260px;
    height: 38px;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 14px;
    /*filter:alpha(opacity=50);*/
    /*-moz-opacity:0.5;*/
    /*opacity:0.5;*/
}

.mobile input {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding-left: 30px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, .3);
}

.mobile input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.mobile input:-moz-placeholder {
    color: #FFFFFF;
}

.mobile input::-moz-placeholder {
    color: #FFFFFF;
}

.mobile input:-ms-input-placeholder {
    color: #FFFFFF;
}

.code {
    width: 260px;
    height: 38px;
    margin: 0 auto 14px;
}

.code div {
    width: 150px;
    height: 38px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;

}

.code div input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    border: none;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, .3);
}

.code div input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.code div input:-moz-placeholder {
    color: #FFFFFF;
}

.code div input::-moz-placeholder {
    color: #FFFFFF;
}

.code div input:-ms-input-placeholder {
    color: #FFFFFF;
}

form .get-code {
    width: 100px;
    font-size: 15px;
    line-height: 38px;
    background-color: #72C5FF;
    color: #FFFFFF;
    text-align: center;
}

.login button {
    width: 260px;
    height: 38px;
    line-height: 38px;
    color: #FFFFFF;
    background-color: #72C5FF;
    font-size: 17px;
    border: none;
    display: block;
    margin: 0 auto 5px;
    font-weight: 700;
}

form > a {
    display: block;
    margin: 5px 0;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}

.agreement {
    width: 232px;
    margin: 0 auto;
    overflow: hidden;
}

.agreement, .agreement a {
    font-size: 12px;
}

.agreement > span {
    padding-left: 15px;
    color: #FFFFFF;
    /*background-image: url("../img/icon/icon9.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 center;*/
    background: url("../img/icon/icon9.png") no-repeat 0 center;
    background-size: 10px;
}

.agreement a span {
    color: #72C5FF;
}

.login-span1, .login-span2 {
    display: block;
    width: 1px;
    height: 25px;
    background-color: #FFFFFF;

}

.login-span1 {
    top: -44px;
    left: 21px;
}

.login-span2 {
    top: 7px;
    left: 21px;
}

.login-span3 {
    display: block;
    background-image: url("../img/icon/icon6.png");
    background-size: 9px 14px;
    width: 9px;
    height: 14px;
    top: -39px;
    left: 6px;
}

.login-span4 {
    display: block;
    background-image: url("../img/icon/icon7.png");
    background-size: 11px 13px;
    width: 11px;
    height: 13px;
    top: 12px;
    left: 5px;
}

/*登录结束*/

/*头部结束*/

/*首选金融网的理由 开始*/
.reason {
    width: 100%;
}

.reason h2 {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    width: 120px;
    margin: 13px auto 18px;
}

.line-left {
    width: 75px;
    height: 1px;
    background-image: url("../img/icon/icon10.png");
    background-size: 75px 1px;
    top: 10px;
    left: -85px;
}

.line-right {
    width: 75px;
    height: 1px;
    background-image: url("../img/icon/icon11.png");
    background-size: 75px 1px;
    top: 10px;
    left: 128px;
}

.reason ul {
    width: 245px;
    height: 245px;
    margin: 0 auto;
    background: url("../img/picture/list17.png") no-repeat;
    background-size: 245px 245px;
    box-sizing: border-box;
    padding-top: 10px;

}

.reason ul li {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 17px;
}

.reason ul li img {
    width: 43px;

}

.reason ul li h3 {
    font-size: 14px;
    color: #666666;
    margin: 3px 0;
    font-weight: 400;
}

.reason ul li p {
    font-size: 12px;
    color: #999999;
    line-height: 16px;
}

.reason > p {
    width: 207px;
    margin: 5px auto 24px;
}

.reason > p a {
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #72C5FF;
    border-radius: 4px;
}

/*首选金融网的理由 结束*/

/*融资达人 开始*/
.financing {
    width: 100%;
}

.financing img {
    width: 100%;
}

.financing a {
    width: 85px;
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #72C5FF;
    bottom: 14px;
    left: 50%;
    background-color: #FFFFFF;
    margin-left: -42px;
}

.success-case {
    width: 100%;
}

.success-case h2 {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    width: 150px;
    margin: 13px auto 18px;
}

.success-case .line-left{
    left: -86px;
}

.success-case .line-right{
    left: 157px;
}

.success-case ul{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.success-case ul li{
    padding: 0 5px 7px;
    box-sizing: border-box;
    width: 50%;
    float: left;
    font-size: 12px;
    color: #666666;
}

.success-case ul li img{
    width: 100%;
}

.success-case ul li p{
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.success-case ul li p:nth-child(2){
    margin-top: 3px;
}

.success-case>a{
    display: block;
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #72C5FF;
    border-radius: 4px;
    margin: 10px auto 5px;
}

/*融资达人 结束*/

/*页尾 开始*/

.footer{
    width: 100%;
}
.footer img{
    width: 100%;
}

/*页尾 结束*/







































