

ul.successful_cases{

}

ul.successful_cases li{
    margin-bottom: 10px;
    background-color: #fff;
}

ul.successful_cases li:first-child{
    margin-top: 2px;
}

ul.successful_cases li>div:first-child{
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px dashed #E9E9E9;
}

ul.successful_cases li>div:first-child img{
    width: 130px;
    height: 115px;
    float: left;
}

ul.successful_cases li>div:first-child div{
    float: right;
    width: 205px;
    height: 115px;
}

ul.successful_cases li>div:first-child h2{
    position: relative;
    top: -3px;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

ul.successful_cases li>div:first-child p{
    line-height: 20px;
    color: #666;
    font-size: 12px;
}

ul.successful_cases li>p{
    line-height: 20px;
    padding-left: 15px;
    font-size: 12px;
    color: #666;
}

ul.successful_cases li>p span:first-child{
    position: relative;
    top: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 2px;
    text-align: center;
}

ul.successful_cases li>p i{
    position: relative;
    top: -5px;
    font-size: 10px;
    line-height: 10px;
}

ul.successful_cases li>p:nth-child(2){
    padding-top: 3px;
}

ul.successful_cases li>p:nth-child(2) i{
    left: 2px;
    color: #56C6FF;
}

ul.successful_cases li>p:nth-child(2) span:first-child{
    border-color: #56C6FF;
}

ul.successful_cases li>p:nth-child(3){
    padding-bottom: 3px;
}

ul.successful_cases li>p:nth-child(3) i{
    color: #03BC3C;
}

ul.successful_cases li>p:nth-child(3) span:first-child{
    border-color: #03BC3C;
}

.successful_cases.filter-outer{

}

.successful_cases.filter-outer>div.filter-list:nth-child(1){
    width: 27%;
}

.successful_cases.filter-outer>div.filter-list:nth-child(1) .filter-cell{
    margin-left: 0;
}

.successful_cases.filter-outer>div.filter-list:nth-child(1) .filter-cell:before{
    background-image: none;
}

.successful_cases.filter-outer>div.filter-list:nth-child(2){
    width: 73%;
    text-align: left;
}

.successful_cases.filter-outer>div.filter-list:nth-child(2) .filter-cell-txt{
    margin-left: 20px;
}

.successful_cases.filter-outer>div.filter-list:nth-child(2) .filter-cell:before{
    background-image: none;
}

.successful_cases.filter-outer>div.filter-list i{
    float: right;
    line-height: 10px;
    font-size: 12px;
    color: #999;
}











































