<include file="public:meta" />
<link href="../public/css/base_main.css" rel="stylesheet"/>
<link href="../public/css/common.css" rel="stylesheet"/>
<link href="../public/css/header.css" rel="stylesheet"/>
<link href="../public/css/hrtools.css" rel="stylesheet"/>
<script src="../public/js/jquery.common.js"></script>
</head>
<body>
<include file="public:header" />
<div class="hr_nav">
     <div class="txt link_gray6"><a href="{:url_rewrite('QS_index')}">网站首页</a><span>></span><a href="{:url_rewrite('QS_hrtools')}">活动</a></div>
</div>

<div class="hrlistbox">
<div class="clear"></div>
</div>
<include file="public:footer_min" />
</body>
</html>
