<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="public:meta" />
<link href="../public/css/personal/common.css" rel="stylesheet" type="text/css" />
<link href="../public/css/personal/personal_index.css" rel="stylesheet" type="text/css" />
<link href="../public/css/personal/invitee.css" rel="stylesheet" type="text/css" />
<link href="../public/css/personal/personal_ajax_dialog.css" rel="stylesheet" type="text/css" />
<link href="../public/css/personal/board.css" rel="stylesheet" type="text/css" />
<script src="../public/js/personal/jquery.common.js" type="text/javascript" language="javascript"></script>
<script src="../public/js/jquery.cookie.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="index_header" />
<div class="user_main">
<include file="index_left_nav" />
<div class="mainbox">
<div class="main">
<h6 class="messages-title">邀请会员注册</h6>
<div class="copy-link-box" style="clear:both;">
<input id="copy-url" value="http:/www.7ronghui.com/register.html?u=14987aeca8c464c5" readonly="readonly" style="display:block;height:30px;line-height:30px;width:100%;ime-mode: disabled;text-indent:10px" type="text">
<p>
<span id="copy-tip" style="font-size:14px;margin-top:10px">按 Ctrl+C 键复制选中的链接</span>
</p>
</div>
<div class="table-part-all table-part-hover fn-tac table-part-all-f fn-mt-10">
<table>
<thead>
<tr>
<th>邀请好友账号</th>
<th>注册时间</th>
<th>奖励</th>
</tr>
</thead>
<tbody>
<tr class="">
<td colspan="3">还没有相关内容</td>
</tr>
</tbody>
</table>
</div>
<footer class="invi-warm">温馨提示：<br>1、请不要发送邀请信给不熟悉的人士，避免给别人带来不必要的困扰。<br>2、请把链接地址发给您的好友，每成功注册一位用户，那么您可以一次性获得200成长值的推广奖励。</footer>
</div>
</div>
<include file="index_footer" />
</body>
</html>