<include file="public:meta" />
<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
<link href="../public/css/header.css" rel="stylesheet" type="text/css" />
<link href="../public/css/help.css" rel="stylesheet" type="text/css" />
<script src="../public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
<style type="text/css">
body {
    padding: 0;
}
body {
    min-width: 1000px;
}
body, th, td, .p1, .p2 {
    font-family: arial;
}
.ww_officialCntHead {
    border-bottom: 1px solid #e4e6e9;
    font-size: 16px;
    padding: 17px 0;
    text-align: left;
}
body {
    padding: 0;
}
body {
    min-width: 1000px;
}
body, th, td, .p1, .p2 {
    font-family: arial;
}
body {
    background: #e9eaeb none repeat scroll 0 0;
    color: #333;
    margin: 0;
    min-width: 900px;
    padding: 6px 0 0;
    position: relative;
}
.betaDownload_item .ww_loginImg, .multiPickerDlg_right .registerResult_failed_cnt .icon_folder_blue, .multiPickerDlg_right .registerResult_succeed_cnt .icon_folder_blue, .registerResult_failed_cnt .multiPickerDlg_right .icon_folder_blue, .registerResult_failed_cnt .ww_commonImg, .registerResult_succeed_cnt .multiPickerDlg_right .icon_folder_blue, .registerResult_succeed_cnt .ww_commonImg, .rtx_pluginWrap .rtx_plugin_corpList_item_remind span, .rtx_pluginWrap .rtx_plugin_corpList_submit .ww_commonImg_BlueAdd {
    vertical-align: top;
}
.ww_commonImg_SuccBig {
    background-image: url("../public/images/commonImages.png");
    background-position: 0 -240px;
    height: 50px;
    width: 50px;
}
.registerResult_failed_cnt, .registerResult_succeed_cnt {
    padding: 94px 0 97px;
    text-align: center;
}
.ww_commonImg {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.registerResult_succeed_cnt_title {
    color: #000;
    font-size: 20px;
    margin-top: 15px;
}
.registerResult_succeed_cnt_subtitle {
    color: #c3c5c7;
    font-size: 12px;
    margin-top: 12px;
}
.main{margin:0 auto;background: #fff;width: 80%;height: 554px;}
.frame_cnt {
    padding-bottom: 37px;
}
.frame_cnt_inside {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
    margin: 30px auto 0;
    min-height: 480px;
    width: 810px;
}
.frame_cnt_inside, .frame_cnt_inside_Big {
    background-color: #fff;
    border-radius: 4px;
}
.registerResult_failed, .registerResult_succeed {
    padding: 0 24px 40px;
}
.frame_foot {
    padding-bottom: 23px;
    text-align: center;
}
.frame_foot, .frame_foot_nav_item, .frame_foot_nav_item:hover {
    color: #9e9e9e;
}
.frame_foot_nav {
    margin-bottom: 2px;
}
.frame_foot_copyright {
    line-height: 1;
}
.frame_foot, .frame_foot_nav_item, .frame_foot_nav_item:hover {
    color: #9e9e9e;
}
.frame_foot_nav_itemDep {
    margin: 0 7px;
}
.frame_foot {
    text-align: center;
}
.frame_foot, .frame_foot_nav_item, .frame_foot_nav_item:hover {
    color: #9e9e9e;
}
a {
    color: #4475a7;
    text-decoration: none;
}
</style>
</head>
<body>
<include file="public:header" />
<main class="frame_cnt">
<div class="frame_cnt_inside">   <div class="registerResult_succeed"><h1 class="ww_officialCntHead">注册成功</h1><div class="registerResult_succeed_cnt"><div class="ww_commonImg ww_commonImg_SuccBig"></div><div class="registerResult_succeed_cnt_title">用户注册成功,初始密码为收到的短信验证码{$code}</div>
<div class="registerResult_succeed_cnt_subtitle">欢迎使用金融网。
</div>
<p><botton>登录后台</botton></p>
</div></div></div>
</main>
<footer class="frame_foot"><nav class="frame_foot_nav"><a class="frame_foot_nav_item" href="/index/about.html" target="_blank">关于金融网</a> <span class="frame_foot_nav_itemDep">|</span> <a class="frame_foot_nav_item" href="/index/terms_conditions" target="_blank">用户协议</a> <span class="frame_foot_nav_itemDep">|</span> <a class="frame_foot_nav_item" href="/help.html" target="_blank">帮助中心</a> <span class="frame_foot_nav_itemDep">|</span> <a class="frame_foot_nav_item js_global_feedback" href="/explain/explain_show/id/7">联系我们</a></nav><p class="frame_foot_copyright">&copy; 2015&nbsp;-&nbsp;2017&nbsp;7ronghui Inc. All Rights Reserved</p></footer>
</body>
</html>
