<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>金融网</title>
    <meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网"/>
    <meta name="description"
          content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
    <link rel="stylesheet" href="../public/css/v2/font/iconfont.css">
    <link rel="stylesheet/less" type="text/css" href="../public/css/v2/less/combination/about_us.less"/>
    <script src="../public/css/v2/less/less_all.js"></script>
</head>
<body>

<include file="public:header2"/>
<include file="public:nav"/>
<div class="bar"></div>
<div class="about_us">
    <div class="main">
        <h2>关于金融网</h2>
        <p>“金融网”是隶属于金融网的专业融资服务平台,是一家专业服务各类型企业及个人创业者，融合线上及线下，打通国内外创投基金的融资服务平台。 金融网创立于2009年，位于亚洲最大的国际金融中心----北京，恒笃公司是全球最大的融资服务平台——GOLD CONNECT集团中国独家战略合作伙伴。 金融网通过“线上服务与线下服务并重，标准化推送与个性化需求互补”的特色服务体系，专注于打造资本与项目精准对接的平台，提高资本找项目、项目找资本的效率和成功率。凭借自身平台强大的整合能力，金融网建立了国内较大的资金信息和项目信息数据库，成为国内具有相当实力的融资服务平台切实提高企业投融资活动成功率，改善中小微企业融资难的问题。金融网目前拥有项目方120万家，每天平均新增项目2000余个；拥有资金方50万家，总持有资金超过60000亿，成功对接融资3170亿元。</p>
        <ul>
            <li>
                <div>
                    <h3>120万家</h3>
                    <span>拥有项目方</span>
                </div>
            </li>
            <li>
                <div>
                    <h3>2000余个</h3>
                    <span>每日平均新增项目</span>
                </div>
            </li>
            <li>
                <div>
                    <h3>50万家</h3>
                    <span>拥有资金方</span>
                </div>
            </li>
            <li>
                <div>
                    <h3>60000亿</h3>
                    <span>总持有资金超过</span>
                </div>
            </li>
            <li>
                <div>
                    <h3>3170亿</h3>
                    <span>成功对接融资</span>
                </div>
            </li>
        </ul>
        <h2>金融网大事记</h2>
        <p>2016年6月“金融网”网站注册资金方超过50万家，项目方120万家，成功为用户融资额超过3170亿元。</p>
        <p>2015年6月为了更好服务中国大陆用户，陈先生在北京自贸区成立金融网，并与美国GOLD CONNECT 集团签订《战略合作伙伴关系协定》，并全盘接手“金融网”网站及平台的运营。自此以后，中国大陆用户不仅享受到了本土化专业化的融资服务，并可享受GOOD集团遍布亚美欧的全球化融资服务。</p>
        <p>2014年7月“金融网”成功为平台用户融资超过500亿人民币，注册资金方超过35万家，项目方超过90万家。</p>
        <p>2012年9月“金融网”成功为平台用户融资超过200亿人民币</p>
        <p>2011年10月“金融网”注册资金方超过20万家，项目方超过70万家，并成功为平台用户融资100亿人民币。</p>
        <p>2010年3月“金融网”注册投资方超过5万家，项目方超过30万家。</p>
        <p>2009年5月5日GOLD CONNECT香港分公司成立，陈先生成为香港分公司负责人，以香港分公司为基地，并创建GOLD CONNECT中文品牌“金融网”及简体中文网站www.7ronghui.com,服务内地及港澳台用户。</p>
        <p>2008年6月未来的GOLD CONNECT中国战略合作伙伴，金融网运营公司金融网创始人陈加入新加坡分公司。</p>
        <p>2007年4月4日GOLD CONNECT新加坡分公司成立。</p>
        <p>2004年3月2日GOLD CONNECT澳洲分公司成立</p>
        <p>2002年8月10日GOLD CONNECT加拿大分公司成立。</p>
        <p>2000年6月1日金融网全新改版上线。</p>
        <p>1998年10月《时代》杂志评选GOLD CONNECT为全美最佳融资服务平台</p>
        <p>1997年9月平台成功融资额超过一百亿美金</p>
        <p>1996年1月6日GOLD CONNECT注册资金方突破十万家，项目方突破一百万家。</p>
        <p>1995年6月10日专业投融资服务平台GOLD CONNECT GROUP成立于美国纽约</p>
    </div>
</div>

<include file="public:footer2"/>

</body>
</html>