<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>融资报告</title>
<script src="../public/js/jquery_1.12.4.js"></script>
<script src="../public/css/bootstrap4/js/bootstrap.min.js"></script>
<link href="../public/css/bootstrap4/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<style>
	.center{text-align: center;}
</style>
</head>
<body>
<div class="container center">
<table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>融资方</th>
            <th>投资方</th>
            <th>轮次</th>
            <th>融资金额</th>
            <th>领域</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><input class="form-control" id="exampleInputName2" type="text"></td>
            <td><input class="form-control" id="exampleInputName2" type="text"></td>
            <td><input class="form-control" id="exampleInputName2" type="text"></td>
            <td><input class="form-control" id="exampleInputName2" type="text"></td>
            <td><input class="form-control" id="exampleInputName2" type="text"></td>
          </tr>
        </tbody>
      </table>

      <input class="btn btn-default" type="submit" id="add_row" value="添加表格">
	</div>

</body>
</html>