<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>金融网</title>
    <meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网" />
    <meta name="description" content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。" />
    <link rel="stylesheet" href="../public/css/v2/font/iconfont.css">
    <link rel="stylesheet/less" type="text/css" href="../public/css/v2/less/combination/home.less" />
    <script src="../public/css/v2/less/less_all.js"></script>
</head>

<body class="home">
    <div class="head">
        <img src="../public/images/v2/picture/logo-4.png" alt="">
        <div>
            <div>
                <span></span>
                <input type="text" placeholder="请输入你要搜索的内容">
                <span><i class="iconfont icon-search1"></i></span>
                <span></span>
            </div>
            <a href="#">首页</a>
            <div>
                <p>投资人服务</p>
                <ul>
                    <li>选项1</li>
                    <li>选项2</li>
                    <li>选项3</li>
                    <li>选项4</li>
                    <li>选项5</li>
                </ul>
            </div>
            <a href="#">创业者服务</a>
            <a href="#">关于我们</a>
            <div>
                <i></i>
                <a href="#">登陆</a>
                <span>/</span>
                <a href="#">注册</a>
            </div>
        </div>
    </div>
    <div class="bar">
        <h2>如果你是这样的创业者</h2>
        <ul>
            <li>
                <i class="iconfont icon-keji"></i>
                <p>传统行业里的创新者</p>
            </li>
            <li>
                <i class="iconfont icon-hulianwang"></i>
                <p>互联网顶尖人才</p>
            </li>
            <li>
                <i class="iconfont icon-gongsilingdaozhongyaogongzuoyizhouanpai"></i>
                <p>某个技术分野的领导者</p>
            </li>
        </ul>
        <span></span>
        <a href="#">创建项目，开启融资之路</a>
        <p>请专注您的项目，把融资交给我们</p>
    </div>
    <ul class="item1">
        <li>
            <span>
            <i class="iconfont icon-jinrong-"></i>
        </span>
            <h3>海量资金库</h3>
            <p>50多万资金方6万亿</p>
            <p>资金，快速融资</p>
        </li>
        <li>
            <span>
            <i class="iconfont icon-anquan2"></i>
        </span>
            <h3>安全可靠</h3>
            <p>210万会员实名认证</p>
            <p>信息真实可靠</p>
        </li>
        <li>
            <span>
            <i class="iconfont icon-huojian"></i>
        </span>
            <h3>融资高效</h3>
            <p>融资流程简单、迅速</p>
            <p>让天下没有难融的资</p>
        </li>
        <li>
            <span>
            <i class="iconfont icon-service"></i>
        </span>
            <h3>专业服务</h3>
            <p>每月促成超过2000场</p>
            <p>创业者与投资人会面</p>
        </li>
    </ul>
    <div class="role">
        <ul>
            <li>
                <a href="#">我是投资人</a>
                <p>VC找项目的好帮手：</p>
                <p>精选优质项目，一键发起约见</p>
            </li>
            <li>
                <a href="#">我是创业者</a>
                <p>高效融资平台+专业顾问服务</p>
                <p>让你的项目最快找到合适的投资人</p>
            </li>
        </ul>
    </div>
    <div class="financingEvent">
        <h2>最新融资事件</h2>
        <a href="#">查看更多></a>
        <ul>
            <li>
                <div class="J_imgcenter">
                    <img src="../public/images/v2/picture/home-list1.png" alt="">
                </div>
                <div>
                    <h3>若森数字</h3>
                    <p>若森数字是一家集动画技术研发、影视制作、动画教育、游戏研发、游戏运营、品牌发行等业务为…</p>
                </div>
                <div>B轮</div>
                <div>未透露</div>
                <div>
                    <p>松禾资本</p>
                    <p>盛万投资</p>
                    <p>国信弘盛</p>
                </div>
                <div>2017-01-21</div>
            </li>
            <li>
                <div class="J_imgcenter">
                    <img src="../public/images/v2/picture/home-list2.png" alt="">
                </div>
                <div>
                    <h3>车点点</h3>
                    <p>车点点是一个为汽车用户提供各类汽车服务 的移动APP，包括违章查询、洗车美容、维 修保养、…
                    </p>
                </div>
                <div>B轮</div>
                <div>7500万</div>
                <div>
                    <p>网信金融</p>
                    <p>松柏资本</p>
                    <p>和悦资本</p>
                </div>
                <div>2017-01-20</div>
            </li>
            <li>
                <div class="J_imgcenter">
                    <img src="../public/images/v2/picture/home-list3.png" alt="">
                </div>
                <div>
                    <h3>Lumus</h3>
                    <p>Lumus是一家AR显示器研究公司，公司主要 知识产权是一项叫做Light-guideO…
                    </p>
                </div>
                <div>C轮</div>
                <div>600万美元</div>
                <div>
                    <p>阿里巴巴</p>
                </div>
                <div>2017-01-20</div>
            </li>
            <li>
                <div class="J_imgcenter">
                    <img src="../public/images/v2/picture/home-list4.png" alt="">
                </div>
                <div>
                    <h3>CryptoMove</h3>
                    <p>CryptoMove是一家安全创业公司，在与黑 客的斗争中采取了“主动防御”的方式，即 将…
                    </p>
                </div>
                <div>种子轮</div>
                <div>150万美元</div>
                <div>
                    <p>Draper</p>
                    <p>Associates</p>
                </div>
                <div>2017-01-20</div>
            </li>
        </ul>
    </div>
    <div class="item2">
        <ul>
            <li>
                <div>
                    <i class="iconfont icon-mo"></i>
                    <span></span>
                    <h3>投资</h3>
                </div>
            </li>
            <li>
                <div>
                    <i class="iconfont icon-financing1"></i>
                    <span></span>
                    <h3>融资</h3>
                </div>
            </li>
            <li>
                <div>
                    <i class="iconfont icon-zijin"></i>
                    <span></span>
                    <h3>资金</h3>
                </div>
            </li>
            <li>
                <div>
                    <i class="iconfont icon-m-danbao"></i>
                    <span></span>
                    <h3>担保</h3>
                </div>
            </li>
        </ul>
    </div>
    <div class="hotActivity">
        <h2>热门活动</h2>
        <a href="#">查看更多></a>
        <ul>
            <li>
                <a href="#">
                    <img src="../public/images/v2/picture/home-list5.jpg" alt="">
                    <span>GMIC+悉尼创新创业大赛首轮招募开启...</span>
                </a>
                <p>将想法付诸行动，寻找最具创新精神的未来领袖，GMIC+悉 尼创业大赛帮你的理想发声
                </p>
                <div>
                    <div>
                        <p><i class="iconfont icon-didian"></i>悉尼</p>
                        <p><i class="iconfont icon-shijian1"></i>12月06日</p>
                    </div>
                    <a href="#">报名中</a>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="../public/images/v2/picture/home-list6.jpg" alt="">
                    <span>2017中国新三板投资者大会暨顶级股权嘉...</span>
                </a>
                <p>展望新三板—中国资本市场的未来，探讨新形势下新三板投融 资策略
                </p>
                <div>
                    <div>
                        <p><i class="iconfont icon-didian"></i>北京</p>
                        <p><i class="iconfont icon-shijian1"></i>09月17日</p>
                    </div>
                    <a href="#">报名中</a>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="../public/images/v2/picture/home-list7.jpg" alt="">
                    <span>新科学复兴</span>
                </a>
                <p>以科学之名，聚焦人工智能，跨界交锋，展开对下一个一年的 畅想
                </p>
                <div>
                    <div>
                        <p><i class="iconfont icon-didian"></i>加州圆石滩</p>
                        <p><i class="iconfont icon-shijian1"></i>08月23日-8月25日</p>
                    </div>
                    <a href="#">报名中</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="blog">
        <div>
            <h2>金融网博客</h2>
            <a href="#">更多活动</a>
            <ul>
                <li>
                    <a href="#">
                        <img src="../public/images/v2/picture/home-list8.jpg" alt="">
                    </a>
                    <div>
                        <h3>资本回归理性，创业者改如何融资？</h3>
                        <p>万事开头难，对于创业者来说，第一笔融资的重要性 不言而喻。尤其在经历了资本寒冬……
                        </p>
                        <p>2017-08-03</p>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../public/images/v2/picture/home-list9.jpg" alt="">
                    </a>
                    <div>
                        <h3>“一站式融资服务平台”典范——金融网...</h3>
                        <p>金融网专注于资本和项目精准对接，始终坚持品质 第一的服务标准，做最专业的融资服务平台，成功 帮助千余家中...
                        </p>
                        <p>2017-07-29</p>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../public/images/v2/picture/home-list10.jpg" alt="">
                    </a>
                    <div>
                        <h3>“金九银十”到了，融资旺季来了！创业...</h3>
                        <p>融资也分淡旺季！一年中融资有两个旺季。第一个融 资季开始于春暖花开的三月，一直延续到烈日炎炎的 七月。第...
                        </p>
                        <p>2017-07-27</p>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../public/images/v2/picture/home-list11.jpg" alt="">
                    </a>
                    <div>
                        <h3>天使投资密集爆发，创业者如何找到最...</h3>
                        <p>天使投资在早期阶段给予创业者支持，让他们能够有 机会显露才能，实现创业梦想，它的出现对创业者来 说非常重...
                        </p>
                        <p>2017-07-23 </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot">
        <ul>
            <li>
                <h3>金融网</h3>
                <a href="#">关于我们</a>
                <a href="#">招贤纳士</a>
                <a href="#">联系我们</a>
            </li>
            <li>
                <h3>新手指导</h3>
                <a href="#">免费注册生成名片</a>
                <a href="#">免费发布投融资信息</a>
                <a href="#">常见问题解答</a>
            </li>
            <li>
                <h3>企业服务</h3>
                <a href="#">金融宝</a>
                <a href="#">委托刷新</a>
                <a href="#">投递项目</a>
            </li>
            <li>
                <h3>平台保障</h3>
                <a href="#">信息审核及被关闭</a>
                <a href="#">会员认证</a>
                <a href="#">隐私保护</a>
                <a href="#">违规处罚</a>
            </li>
            <li>
                <h3>加盟合作</h3>
                <a href="#">金融网投资生态联盟</a>
                <a href="#">线下机构加盟合作</a>
            </li>
        </ul>
        <div>
            <div>
                <p>© 2012-2017 7ronghui.com. All rights reserved 金融网</p>
                <p>网站备案：沪ICP备15057977号-3</p>
                <div>
                    <img src="../public/images/v2/picture/home-list12.png" alt="">
                    <img src="../public/images/v2/picture/home-list13.png" alt="">
                    <img src="../public/images/v2/picture/home-list14.png" alt="">
                    <img src="../public/images/v2/picture/home-list15.png" alt="">
                    <img src="../public/images/v2/picture/home-list16.png" alt="">
                </div>
            </div>
            <div>
                <div>
                    <p>微信：扫描二维码咨询在线客服</p>
                    <p>邮箱：</p>
                    <p>400电话：</p>
                    <p>时间：9:00-18:00</p>
                </div>
                <img src="../public/images/v2/picture/home-qrcode.png" alt="">
            </div>
        </div>
    </div>


</body>

</html>