<qscms:news_show 列表名="info" 资讯id="$_GET['id']" />
<include file="public:meta" />
<link href="../public/css/common.css" rel="stylesheet" type="text/css" />
<link href="../public/css/news.css" rel="stylesheet" type="text/css" />
<link href="../public/css/header.css" rel="stylesheet" type="text/css" />
<script src="../public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="public:header" />
<div class="newslip_topimg">
<img src="../public/banner/news.jpg" border="0"/>
</div>
<div class="newsshow">
  <div class="l">
	<div class="main">
	  <div class="ntitle">{$info['title']}</div>
	  <div class="time">
	    	<span>{:date('Y-m-d',$info['addtime'])}</span>
			<span>浏览 <a class="click"></a> 次</span>
			<qscms:news_property 列表名="property" 分类id="$info['focos']" />
			<span>{$property['categoryname']}</span>
	  </div>
	  <div class="txt">{$info['content']}</div>
	<div class="next link_gray6">
	  <div class="nextl substring">
	  上一条：
	  <if condition="$info['prev'] eq 1">
	  <a href="{$info['prev_url']}">{$info['prev_title']}</a>
	  <else />
	  <a>没有了</a>
	  </if>
	  </div>
	  <div class="nextr substring">
	  下一条：
	   <if condition="$info['next'] eq 1">
	  <a href="{$info['next_url']}">{$info['next_title']}</a>
	  <else />
	  <a>没有了</a>
	  </if>
	  </div>
	  <div class="clear"></div>
    </div>
	</div>
  </div>
  <div class="r">
  	
	
  </div>

  <div class="clear"></div>
</div>

<include file="public:footer_min" />
<script type="text/javascript" src="../public/js/jquery.lazyload.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$.getJSON("{:U('ajaxCommon/news_click')}",{id:"{$info['id']}"},function(result){
			if(result.status==1){
				$(".click").html(result.data);
			}
		});

		// 广告位图片延迟加载
		$("img.lazy").lazyload({
	        effect : "fadeIn"
	    });
		$('#so_btn').click(function(){
			var data = $('#form').serialize();
			if(qscms.keyUrlencode==1){
				data = encodeURI(data);
			}
			window.location.href = qscms.root + $('.f-seach-page').val() + data;
		});
	});
</script>
</body>
</html>
