<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>更新历史-金融网</title>
<meta name="keywords" content="项目融资,融资,天使投资,投资,投资项目,投资公司,项目,股权融资,债权融资,投融资,融资平台,金融网"/>
<meta name="description"
content="金融网（7ronghui.com）是中国最大的融资服务平台，拥有超百万的投融资机构、企业与个人用户入驻。金融网通过线上＋线下、标准化  ＋个性化的服务体系，为客户提供针对性的投融资信息对接和项目撮配服务，成功对接融资千余亿元。金融网凭借其强大、便捷的平台信息整合能力，大大提高企业投融资活动成功率，为中小微企业解决融资难问题。"/>
<link rel="stylesheet" href="../public/css/haidao/haidao.css" />
<link rel="stylesheet" href="../public/css/haidao/public.css" />
<script src="../public/js/jquery-1.8.3.min.js"></script>
<script src="../public/js/haidao/public.js"></script>
<link rel="stylesheet" href="../public/css/haidao/history.css">
</head>
<body>
<div class="layout">
<img src="../public/images/haidao/history.jpg" class="history-bn" />
</div>
<!--主体-->
<div class="container ht clearfix">
<!--左边-->
<div class="ht-l fl">
<div class="ht-cn">
    
  
<div class="hd54 margin-big-top">
<a class="ht-title" href="http://www.haidao.la/?m=product&c=index&a=update_detail_show&id=217">海盗云商第115次发布及更新日志</a>
<b class='ht-branch'>[开发版]</b>
<p class="margin-top ">
<span class="text-gray">更新日期</span>
<span class="ht-line"></span>
<span class="ht-time text-gray">2017-04-14</span>
</p>
<dl class="ht-dom margin-big-top">
<dt class="ht-box fl htBg3">
<a href="http://www.haidao.la/?m=product&c=index&a=update_detail_show&id=217">
<p class="text-center">
<span class="text-white text-big">Haidao更新</span>
<span class="new-line "></span>
<span class="text-white text-big">第115次</span>
</p>
<p class=" text-white text-center ">
版本号：2.7.14.170414						   	   		</p>
</a>
</dt>
<dd class="fr">
<p class="clearfix">
<span class="text-big fl blog-title"><strong>[日志]</strong></span>
<a href="http://www.haidao.la/?m=product&c=index&a=update_detail_show&id=217" >查看全文</a>
</p>
<p>优化重构运费模板 </p>
<p>优化支付宝同步回调</p>
<p>修复重复引入文件导致函数同名报错的问题</p>
<p>修复移动端售后列表不显示详情按钮 </p>
<p>修复其它已知问题</p>
</dd>
</dl>	 
</div>
    

<!--按钮-->
<div class=" text-center margin-large-bottom ">
<div class='page'><ul class="offcial-page margin-top margin-big-right">
<li>共 117 条数据</li>
<li>每页显示 5 条</li>
<li> 1/24 页</li>
<li><a class="next disable" >上一页</a></li>
<li><span class="current">1</span>
<a class="num" href="#">2</a>
<a class="num" href="#">3</a>
<a class="num" href="#">4</a>
<a class="num" href="#">5</a>
</li>
<li><a class="next" href="#">下一页</a>
</li>
<li>共 24 页 </li>

</ul></div>
</div>

</div>
</div>
<!--右边-->

<!--底部-->
</div>
</body>
</html>
<script>
$(window).scroll(function(){
var scrollTop=$(document).scrollTop();
if(scrollTop>0){
$(".ibar .btn-gotop").show();
}else{
$(".ibar .btn-gotop").hide();
}
});

//浮动导航条
if($(".subnav").length>0){
var tbar = $(".subnav").offset().top;
$(window).scroll(scrolls);
scrolls();
function scrolls() {
var fix = $('.subnav');
var sTop = $(window).scrollTop();
if (sTop > tbar) {
$(".subnav").css({
position: "fixed",
top: "0"
});
} else {
$(".subnav").css({
position: "relative",
top: "0"
});
}
}
}
</script>

</html>