<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>my website</title>
<meta name="keywords" content="">
<meta name="Description" content="">
<script src="../public/js/jquery_1.12.4.js"></script>
<link href="../public/css/popup_login.css" rel="stylesheet">
</head>
<body>

<div id="login_frame" style="margin-top: -215px;">
  <div style="display: block;" class="login">
    <div class="holder">
      <div class="with-line">登录金融网</div>
      <form action="" method="post" class="mail-login">
        <input type="text" id="login_username" name="username" placeholder="请输入手机号" class="clear-input">
        <input name="password" id="login_password" type="password" placeholder="密码" class="clear-input">
        <a id="btn-login" href="javascript:;" class="btn btn18 btn-disabled"><span class="text">登录</span></a>
      </form>
      <div class="switch-back">还没有帐号,<a id="user_register_btn" href="javascript:;" class="red-link">急速注册</a></div>
    </div>
  </div>
  <div class="menu_close"><i></i></div>
</div>
</body>
</html>